<a class="footer-link" target="_blank" href="mailto:jordan.vincent.x@gmail.com">Email</a>
<a class="footer-link" target="_blank" href="/assets/documents/jordan-vincent.pdf">Resume</a>
<a class="footer-link" target="_blank" href="https://medium.com/@jordanvincent">Medium</a>
<a class="footer-link" target="_blank" href="https://www.instagram.com/jordan.vinc">Instagram</a>
<a class="footer-link" target="_blank" href="https://github.com/JordanVincent">GitHub</a>
<a class="footer-link" target="_blank" href="https://dribbble.com/JordanVincent">Dribbble</a>
<a class="footer-link" target="_blank" href="https://www.linkedin.com/in/jordanvinc">LinkedIn</a>
