<div class="container" {{action 'toggle'}}>
  <div class="title visible-xs">Menu</div>
  {{nav-inline class=open}}
</div>
<svg viewBox="0 0 400 400" preserveAspectRatio="xMidYMax slice" style="display: inline;"> <path stroke-miterlimit="3" stroke="none" d="M0,0C0,0,0,50,0,50C0,50,25,25,25,25C25,25,75,75,75,75C75,75,100,62.5,100,62.5C100,62.5,125,75,125,75C125,75,200,0,200,0C200,0,225,25,225,25C225,25,237.5,12.5,237.5,12.5C237.5,12.5,300,75,300,75C300,75,350,25,350,25C350,25,400,50,400,50C400,50,400,0,400,0C400,0,0,0,0,0C0,0,0,0,0,0"> </path><desc>Created with Snap</desc><defs></defs></svg>