<div class="container">
  <div class="title visible-xs">Menu</div>
  {{nav-inline}}
</div>

<svg viewBox="0 0 400 400" preserveAspectRatio="xMidYMax slice">
	<path stroke-miterlimit="3" stroke="none"></path>
</svg>