<div class="nav-inline">
  {{link-to 'About' 'about'}}
  {{link-to 'Influences' 'influences'}}
  {{link-to 'Projects' 'projects.index'}}
  {{link-to 'Contact' 'contact'}}
  <a href="assets/documents/jordan-vincent-resume.pdf" target="_blank">Resume</a>
</div>