<div class="nav-inline">
  {{link-to 'About' 'about' class="about-link"}}
  {{link-to 'Influences' 'influences' class="influences-link"}}
  {{link-to 'Projects' 'projects.index' class="projects-link"}}
  {{link-to 'Contact' 'contact' class="contact-link"}}
  <a href="assets/documents/jordan-vincent-resume.pdf" target="_blank" class="resume-link">Resume</a>
</div>