<div class="nav-element">{{link-to 'Home' 'index' class="index-link"}}</div><!--
--><div class="nav-element">{{link-to 'Influences' 'influences' class="influences-link"}}</div><!--
--><div class="nav-element">{{link-to 'Projects' 'projects.index' class="projects-link"}}</div><!--
--><div class="nav-element">{{link-to 'Contact' 'contact' class="contact-link"}}</div><!--
--><div class="nav-element"><a href="assets/documents/jordan-vincent-resume.pdf" target="_blank" class="resume-link">Resume</a></div>
