<ul class="nav nav-pills nav-stacked nav-menu">
  {{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}
  {{#link-to 'inspiration' tagName="li"}}<a href="">Inspiration</a>{{/link-to}}
  {{#link-to 'projects.index' tagName="li"}}<a href="">Projects</a>{{/link-to}}
  {{#link-to 'contact' tagName="li"}}<a href="">Contact</a>{{/link-to}}
  {{#link-to 'resume' tagName="li"}}<a href="">Resumé</a>{{/link-to}}
</ul>