<div class="btn-toolbar nav-inline">
  {{link-to 'About' 'about' class="btn btn-default"}}
  {{link-to 'Influences' 'inspiration' class="btn btn-default"}}
  {{link-to 'Projects' 'projects.index' class="btn btn-default"}}
  {{link-to 'Contact' 'contact' class="btn btn-default"}}
  <a class="btn btn-default" href="assets/documents/jordan-vincent-resume.pdf" target="_blank">Resume</a>
</div>