{{#link-to 'project' project}}
  {{project-logo project=project}}
  <div class="back">
    <h3>{{project.name}}</h3>
    <span class="date">{{project.date}}</span>
    <span class="summary">{{project.summary}}</span>
  </div>
{{/link-to}}