{{#link-to 'project' project}}
  {{project-logo project=project}}
  <h3>{{project.name}}</h3>
  <span class="date">{{project.date}}</span>
  <span class="summary">{{project.summary}}</span>
{{/link-to}}