// TODO remove
$article-width: 1080px;
$link-color: blue;
$screen-sm-min: 768px;

$font-size-base: 16px;
$line-height-base: 1.6;
$font-family-serif: 'PT Serif', serif;
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-family-sans-narrow: 'PT Sans Narrow', sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

.projects\/Paragraph {
  line-height: 28px;
  font-size: 18px;
  margin: 28px 0;

  ul {
    list-style: disc;
    padding-left: 20px;
    margin: 8px 0;
  }

  a {
    color: #0076d8;
  }
}

.projects\/SectionHeading {
  margin: 80px 0 40px 0;

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__subtitle {
    opacity: 0.5;
    font-size: 18px;
    margin-top: 8px;
  }
}

.projects\/Figure {
  position: relative;

  &--margins {
    margin: 60px 0;
  }

  .backdrop {
    position: absolute;
    left: calc((-100vw + #{$article-width}) / 2);
    top: 0;
    width: 100vw;
    z-index: -1;
    height: 100%;
  }

  &__media {
    max-width: 100%;
    display: block;
  }

  &__caption {
    opacity: 0.5;
    margin-top: 20px;
    max-width: 250px;
    font-size: 14px;
    line-height: 20px;
  }

  &__browser-frame {
    position: relative;
    border: 1px solid #babec0;
    border-radius: 6px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    &:before {
      content: '';
      top: 0;
      left: 0;
      background-color: #f6f8f9;
      width: 100%;
      height: 36px;
      position: absolute;
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid #babec0;
    }

    &:after {
      content: '';
      background: #ff5a5a;
      box-shadow: 0 0 0 1px #ff0e0e, 20px 0 0 0 #ffd220, 20px 0 0 1px #ecbc00,
        40px 0 0 0 #64df66, 40px 0 0 1px #2acc2d;
      height: 10px;
      width: 10px;
      border-radius: 5.5px;
      display: block;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    .projects\/Figure__media {
      padding-top: 36px;
      border-radius: 5px;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: $screen-sm-min) {
    &--margins {
      margin: 20px 0;
    }

    .backdrop {
      left: -20px;
    }
  }
}

.projects\/Distribute {
  display: grid;
  gap: 32px;

  @media (max-width: $screen-sm-min) {
    display: block;
  }
}

.projects\/Article {
  color: #063155;

  &__inner {
    width: var(--article-width);
    margin: 60px auto;
  }

  @media (max-width: $screen-sm-min) {
    &__inner {
      width: auto;
      margin: 40px 16px;
    }
  }
}
