#about {
  font-family: "Cambria";
  font-size: 1.4em;

  .img {
    width: 100%;
    height: 200px;
    background-color: #EEE;
  }

  h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}