#adventure {
  @include text-shadow(0px 1px 1px rgba(0, 0, 0, .8));
  background: black url(#{$images-path}adventure-panorama.png) no-repeat center;
  background-size: 100%;
  color: white;

  h2 {
    font-size: 2.5em;
    margin: 0 0 60px 0;
    border: 1px solid white;
    padding: 0 10px;
    background: rgba(255, 255, 255, .2);
    display: inline-block;
  }

  .container {
    padding-top: 80px;
  }

  .columns {
    display: table;
    height: 100%;

    .inner {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .column {
    width: 26.66%;
    padding: 0 5%;
    display: inline-block;
    vertical-align: top;
    opacity: 1;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .head {
      margin-bottom: 40px;

      .head-inner {
        @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
        border: 8px solid white;
        border-radius: 120px;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        text-align: center;
      }

      h3 {
        font-size: 2.5em;
        margin: 20px 0 0 0;

        small {
          font-size: 0.3em;
        }
      }

      h4 {
        margin: 0;
        font-size: 1.4em;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }

        small {
          font-size: 0.5em;
        }
      }
    }

    .body {
      h3 {
        font-size: 2em;
        display: inline;
        background: rgba(255, 255, 255, .3);
        color: #FFF;
      }

      p {
        font-weight: bold;
        margin-bottom: 0;
        text-align: justify;
        border-bottom: 1px solid white;
        padding-bottom: 15px;

        &:last-child {
          border-bottom: 0;
        }

        strong {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-aspect-ratio: 2/1) {
  #adventure {
    background-size: auto 100%;
  }
}

@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #adventure {
    h2 {
      margin: 0 0 30px 0;
      font-size: 2em;
    }
    .column {
      width: auto;
      margin-top: 40px;
      padding: 0;

      .head {
        display: inline-block;
        vertical-align: middle;
        width: 35%;
      }

      .body {
        display: inline-block;
        vertical-align: middle;
        width: 65%;

        h3 {
          margin-top: 0;
          font-size: 1.5em;
        }

        p {
          margin-top: 5px;
          padding-bottom: 5px;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-mobile-max) {
  #adventure {
    h2 {
      margin: 0 0 30px 0;
      font-size: 2em;
    }
    .column {
      width: auto;
      margin-top: 20px;
      padding: 0;

      .head {
        margin: 20px 0 0 0;

        .head-inner {
          @include box-shadow(none);
          border: 0;
          border-radius: 0;
          text-align: left;
          height: auto;
          width: auto;
        }

        h3 {
          display: inline-block;
          font-size: 2em;
          margin: 0;
        }

        h4 {
          display: inline-block;
          font-size: 1.2em;
        }
      }

      .body {
        h3 {
          margin: 0 0 10px 0;
          font-size: 1.3em;
        }

        p {
          font-size: 0.9em;
          margin-top: 5px;
          border: 0;
          padding: 0;
        }
      }
    }
  }
}