#background {
  background-color: white;

  .inner {
    padding-top: 50px;
  }

  h2 {
    font-size: 1.2em;
    margin-top: 40px;
  }

  .row {
    .dates {
      width: 160px;
      float: left;
    }

    p {
      margin-left: 180px;
    }
  }
}

@media (max-width: $screen-mobile-max) {
  #background {

  }
}

@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #background {
   
  }
}