#background {
  .inner {
    padding-top: 80px;
  }

  h4 {
    margin: 0 0 40px 0;
    font-size: 1.2em;
  }

  h2 {
    @include text-shadow(1px 1px 1px $black-trans);
    font-size: 2.2em;
    margin: 20px 0;

    &.conclusion {
      text-align: right;
      font-style: italic;
      margin-top: 60px;
    }

    strong {
      color: $orange;
    }

    small {
      color: $grey;
    }
  }
}

@media (max-width: $screen-mobile-max) {
  #background {
    h2 {
      font-size: 1.4em;
    }
  }
}

@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #background {
    h2 {
      font-size: 2em;
    }
  }
}