#contact {
  background-color: $purple-dark;
  color: white;
  text-align: right;

  .inner {
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 2.2em;
    font-weight: normal;
  }

  p {
    opacity: .8;

    a {
      color: white;
      font-size: 1.2em;
    }
  }


  h3 {
    font-size: 3.2em;
    display: inline-block;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    a {
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
    border-bottom: 2px solid $orange;
  }

  .contacts {
    width: 100%;
    margin-bottom: 100px;

    td {
      text-align: center;
      a{
        color: white;
        font-size: 1.8em;
        font-weight: bold;
      }
    }
  }
}