#contact {
  background-color: $purple-dark;
  color: white;
  text-align: right;
  position: relative;

  .inner {
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 2.2em;
    font-weight: normal;
  }

  p {
    opacity: .8;

    a {
      color: white;
      font-size: 1.2em;
    }
  }


  h3 {
    font-size: 3.2em;
    display: inline-block;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    a {
      color: $orange;
      &:hover {
        text-decoration: none;
      }
    }
    border-bottom: 2px solid $orange;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $purple-darker;
    opacity: 0.7;
    padding: 15px 0;
    font-size: .9em;
    text-align: left;

    .copyright {
      float: right;
    }

    a {
      color: white;
    }
  }
}

@media (max-width: $screen-mobile-max) {
  #contact {
    h1 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.6em;
    }
  }
}

@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #contact {
    h1 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 2.5em;
    }
  }
}