body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: $screen-desktop-max) {
  .container {
    width: 90%
  }
}