#header {
  background: black url(#{$images-path}header-panorama.png) no-repeat center;
  background-size: 100%;
  text-align: center;
  position: relative;
  display: table;
  width: 100%;

  .inner {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    font-size: 6em;
    margin: 0 0 30px 0;
  }

  .carousel {
    .carousel-item {
      @include transition(background-color .3s ease);
      padding: 8px 30px;
      text-align: center;
      font-size: 2.5em;
      font-weight: bold;
      color: white;
      display: none;
      border: 2px solid white;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        text-decoration: none;
        background-color: rgba(255,255,255,.3);
      }
    }
  }

  .arrow {
    @include transform-origin(50% 50%);
    @include transform(rotate(45deg) translateX(25px));
    @include transition(bottom .3s);
    border: 1px solid white;
    border-width: 0px 1px 1px 0px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    bottom: 50px;
    right: 50%;
    position: absolute;
    cursor: pointer;
    display: block;

    &:hover {
      bottom: 40px;
    }
  }
}

@media (max-aspect-ratio: 2/1) {
  #header {
    background-size: auto 100%;
  }
}

@media (max-width: $screen-mobile-max) {
  #header {
    h1 {
      font-size: 2.5em;
    }
    .carousel .carousel-item {
      font-size: 1em;
      padding: 8px 10px;
    }
  }
}

@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #header {
    h1 {
      font-size: 3.8em;
    }
    .carousel .carousel-item {
      font-size: 1.8em;
      padding: 8px 20px;
    }
  }
}