#nav {
  @include box-shadow(0 2px 2px rgba(0, 0, 0, .05));
  @include transition(top .3s ease);
  position: fixed;
  top: -72px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $grey-light;

  a {
    display: inline-block;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid $grey-light;

    &:hover {
      background-color: $grey-lighter;
    }

    img {
      height: 40px;
      margin: 13px 25px;
    }

    .menu-btn {
      display: none;
    }
  }

  .nav-right {
    float: right;
  }

  ul {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    padding: 0;
    font-weight: bold;

    li {
      display: inline-block;

      &:first-child a {
        padding-left: 30px;
      }

      &:last-child a {
        padding-right: 30px;
      }

      a {
        padding: 10px 15px;
        color: $grey;

        &:hover, &.active {
          color: black;
        }
      }
    }
  }
}

@media (max-width: $screen-mobile-max) {
  #nav {
    &.closed {
      ul {
        display: none;
      }
      .logo .menu-btn {
        background-image: url(#{$images-path}menu.png);
      }
    }
    .logo {
      border: 0;
      display: block;

      .menu-btn {
        background: url(#{$images-path}close.png) no-repeat center;
        width: 20px;
        height: 20px;
        float: right;
        display: block;
        padding: 26px;
        cursor: pointer;

        &:active, &:hover {
          background-color: $grey-light;
        }
      }
    }
    ul {
      display: block;
      margin: 0;

      &.nav-right {
        float: none;
      }

      li {
        border-top: 1px solid $grey-light;
        display: block;
        font-size: 1.4em;
        text-align: right;

        a {
          display: block;
        }

        &:first-child a, &:last-child a {
          padding: 10px 15px;
        }
      }
    }
  }
}


@media (min-width: $screen-mobile-max) and (max-width: $screen-tablet-max) {
  #nav {
    .logo {
      img {
        height: 25px;
        margin: 13px 15px;
      }
    }

    ul {
      margin: 14px 0;

      li {
        &:first-child a {
          padding-left: 10px;
        }

        &:last-child a {
          padding-right: 10px;
        }

        a {
          padding: 5px 5px;
        }
      }
    }
  }
}