$images-path: "../images/";
$icons-path: "../images/icons/";

$default-prefixes: webkit moz ms o;

$screen-mobile-max: 480px;
$screen-tablet-max: 780px;
$screen-desktop-max: 1080px;

$orange-light: #ff7e26;
$orange: #F26101;
$orange-dark: #d75600;

$beige-light: #EDEDEA;
$beige: #D4CEBB;

$purple-light: #81838A;
$purple: #45404F;
$purple-dark: #1C1A20;
$purple-darker: #100F13;

$grey-lighter: #fafafa;
$grey-light: #ddd;
$grey: #999;
$grey-dark: #666;
$grey-darker: #333;

$black-trans: rgba(0, 0, 0, 0.5);