$images-path: "../images/";

$default-prefixes: webkit moz ms o;

$screen-mobile-max: 480px;
$screen-tablet-max: 780px;
$screen-desktop-max: 1080px;

$orange-light: #ff7e26;
$orange: #f60;
$orange-dark: #d75600;

$grey: #999;