$border-radius: 2px;
$primary-blue: #1D5774;
$primary-blue-dark: #154359;
$text-normal-color: #333;
$text-light-color: #CCC;

$paragraph-font-family: 'Merriweather', Cambria, serif;
$headings-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$images-path: "images";

$screen-lg-min: 1300px;
$screen-sm-min: 768px;
$screen-xs-max: 300px;

@import "base";

@import "components/nav-menu";
@import "components/nav-inline";
@import "components/project-logo";
@import "components/project-item";

@import "page/about";
@import "page/influences";
@import "page/projects/index";
@import "page/project";
@import "page/contact";