body {
}

p {
  font-size: 1.5em;
}

.container {
  max-width: 800px;
}

.main-section {
  background-color: white;
  position: relative;
}

.footnotes {
  margin-top: 50px;
  position: relative;
  padding-top: 10px;
  font-size: 1.5em;

  &:before {
    content: '';
    width: 50px;
    border-top: 1px solid $gray-light;
    position: absolute;
    top: 0;
  }

  .footnote {
    font-style: italic;
    color: $gray-light;
    margin-bottom: 15px;
  }
}

article {
  position: relative;
  margin: 30px 0;

  a {
    color: $primary-blue;
  }

  .lead {
    font-size: 1.7em;
    font-family: Avenir;
    margin-bottom: 50px;

    &:first-letter {
      float: left;
      font-size: 3em;
      line-height: .6;
      margin-right: 5px;
      margin-top: 12px;
    }
  }

  .text {
    width: 70%;

    p {
      margin-bottom: 20px;
    }
  }

  aside {
    width: 30%;
    right: 0;
    position: absolute;
    padding-left: 30px;
  }
}

@media (max-width: $screen-xs-max) {
  article {
    .text {
      width: 100%;
    }

    aside {
      width: 100%;
      right: 0;
      position: relative;
      padding-left: 0;
    }
  }
}