body {
  padding: 80px 0;
}

.btn {
  border-radius: $border-radius;
  border: none;
  padding-right: 20px;
  padding-left: 20px;

  &.btn-default {
    background-color: #EEE;
    &:hover {
      background-color: #DDD;
    }
  }

  &.active {
    background-color: $primary-blue;
    color: white;
    box-shadow: none;
    &:hover {
      background-color: $primary-blue-dark;
    }
  }
}

.centered-column {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

$gutter: 20px;
$side-column-width: 150px;
.side-column {
  width: $side-column-width;
  position: absolute;
  left: - ($side-column-width + $gutter);
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-family: $paragraph-font-family;
  font-size: 1.2em;
  text-align: justify;
  color: #444;
  margin: 0 0 20px 0;
}

.footnotes {
  margin-top: 50px;
  position: relative;
  padding-top: 10px;
  text-align: justify;

  &:before {
    content: '';
    width: 50px;
    border-top: 1px solid #666;
    position: absolute;
    top: 0;
  }

  span {
    font-style: italic;
    color: #666;
  }
}

article a {
  color: $primary-blue;
  font-weight: bold;
}