$border-radius: 2px;
$primary-blue: #1D5774;
$primary-blue-dark: #154359;
$text-normal-color: #333;
$text-light-color: #CCC;

$font-family-base: ArnoPro;
$headings-font-weight: bold;
$headings-font-family: MyriadPro, sans-serif;
$paragraph-font-family: $font-family-base;

$images-path: "images";
$fonts-path: "fonts";

// TODO remove
$screen-lg-min: 1300px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-s-max: 400px;
$screen-xs-max: 300px;