$border-radius: 2px;
$primary-blue: #1D5774;
$primary-blue-dark: #154359;
$text-normal-color: #333;
$text-light-color: #CCC;
$purple: #515174;
$gray-light: #666;

$font-family-base: 'Open Sans', sans-serif;
$headings-font-weight: bold;
$headings-font-family: MyriadPro, sans-serif;
$paragraph-font-family: $font-family-base;

$images-path: "images";
$fonts-path: "fonts";