<div id="projects-index">

  {{#hero-image title="Projects" image="assets/images/projects-image.jpg"}}
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <p>Here is a list of projects I created or contributed to. My experiences range from co-founding a {{link-to 'massive multiplayer game' 'project' 2}}, designing a {{link-to 'physical product' 'project' 24}} and working in a {{link-to 'startup' 'project' 1}} in San Francisco.</p>
      </article>

    </div>
  </section>

</div>