.footer-links {
  padding: 30px 0;
  background-color: #FBF9F9;
  text-align: center;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;

  .footer-link {
    padding: 0 10px;
    margin-bottom: 15px;
    display: inline-block;
  }
}
