.image-slider {
  .jx-control, .jx-controller {
    background-color: $purple;
  }

  .jx-arrow.jx-left {
    border-color: transparent $purple transparent transparent;
  }

  .jx-arrow.jx-right {
    border-color: transparent transparent transparent $purple;
  }

  .jx-knightlab {
    visibility: hidden;
  }
}