.nav-menu {

  li > a {
    color: #333;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  li.active > a {
    background-color: $primary-blue;
  }

  li.active:hover > a {
    background-color: $primary-blue-dark;
  }

}