.nav-inline {
  .nav-element {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;

    a {
      text-decoration: none;
      font-size: 1.5em;
      padding-bottom: 5px;
      transition: border .1s;
      color: white;
      font-family: Avenir;
      font-weight: 500;
      border-bottom: 2px solid transparent;

      &.active, &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
}
