.nav-responsive {
  z-index: 1;
  width: 100%;
  transition: all .5s;
  position: fixed;
  background: #FFF;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

  .nav-inline .nav-element a {
    color: black;

    &.active {
      border-bottom: 2px solid black;
    }
  }
}