.newsletter-form {
  font-family: $font-family-sans-serif;
  padding: 50px 0;

  hr {
    border-top: 1px solid #ddd;
    margin: 0 0 50px 0;
  }
}

.mc-field-group, .mc-button-wrapper, #mce-responses {
  display: inline-block;
}

.newsletter-form-copy {
  margin-bottom: 16px;
}

#mc-embedded-subscribe {
  background: $link-color;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 9px 28px;
  margin-left: 20px;
}

#mce-EMAIL {
  border: 1px solid #ddd;
  width: 300px;
  background: white;
  border-radius: 2px;
  padding: 8px 20px;
}

@media (max-width : $screen-sm-min) {
  #mce-EMAIL {
    width: calc(100vw - 30px);
  }
  #mc-embedded-subscribe {
    margin-left: 0;
    margin-top: 20px;
  }
}
