.project-item {
  cursor: pointer;
  height: 150px;
  margin-bottom: 15px;
  position: relative;

  &:hover {
    .back {
      display: block;
    }
  }

  .back {
    padding: 15px;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }

  .project-logo .inner {
    background-size: 40%;
  }

  .back {
    display: none;
    position: absolute;
    top: 0;
    color: white;
    background-color: #333;

    h3 {
      font-weight: bold;
      font-size: 1.4em;
      margin: 0;
    }

    .date {
      color: #999
    }

    .summary {
      margin-top: 10px;
      display: inline-block;
    }
  }
}