.projects-list {
  h2 {
    font-weight: 900;
    font-family: MyriadPro;
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
    padding-top: 15px;
    margin: 50px 0 30px;

    &:before {
      content: '';
      width: 200px;
      height: 3px;
      background: #CCC;
      position: absolute;
      top: 0;
    }
  }
}