.projects-list {
  h2 {
    font-weight: 900;
    font-family: MyriadPro;
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
    padding-top: 15px;
    margin: 20px 0;

    &:before {
      content: '';
      width: 200px;
      height: 3px;
      background: #CCC;
      position: absolute;
      top: 0;
    }
  }
}

// PC, 3 per row
@media (min-width : $screen-md-min) {
  .projects-list .project-item:nth-child(3n+1) {
    clear: both;
  }
}

// Tablets, 2 per row
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .projects-list .project-item:nth-child(2n+1) {
    clear: both;
  }
}