.project-article {
  position: relative;

  a.project-link {
    color: inherit;
    background: #EEE;
    border-radius: 50px;
    padding: 5px 10px;
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 1.2em;

    &:hover, &:focus {
      border: 0;
      background: #DDD;
    }
  }
}