.project-item {
  padding: 10px;
  height: 150px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}