.project-item {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  transition: all .3s;
  cursor: pointer;

  a {
    color: #333;
    text-decoration: none;
  }

  svg {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
  }

  .back {
    width: 100%;
    height: 100%;
    border: 15px solid white;
    transition: border .3s;
  }

  &.is-dark:hover a {
    color: white;
  }

  &:hover .back {
    border-width: 0;
  }

  .inner {
    border-radius: 2px;
    position: relative;
  }

  .svg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .project-item-inner {
    position: relative;
    padding: 15px;
  }

  .caption {
    height: 100px;
    position: relative;

    img {
      max-width: 40%;
      max-height: 100%;
      margin: 0 auto 0 auto;
      display: block;
    }
  }

  h3 {
    font-family: MyriadPro;
    font-weight: bold;
    text-transform: none;
    font-size: 1.8em;
    margin: 15px 0 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    font-size: 1.2em;
    line-height: 1.3;
    margin: 0;
  }
}

@media (max-width : $screen-sm-min) {
  .project-item {
    .svg-wrapper {
      display: none;
    }

    &.is-dark:hover a {
      color: #333;
    }

    .caption {
      width: 30%;
      padding-right: 15px;

      img {
        max-width: 100%;
        border-radius: 500px;
      }
    }

    h3 {
      margin: 0 0 5px 0;
    }

    .text-inner {
      width: 70%;
    }

    .caption, .text-inner {
      display: inline-block;
      vertical-align: top;
    }
  }
}