
<svg width="1000px" height="600px" viewBox="0 0 1000 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>anchorage</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="anchorage">
            <path d="M162,551 C152,562.333333 137.333333,568 118,568" id="Path-26" stroke="#FFFFFF"></path>
            <text id="Almost-all-flights-t" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="311" y="273">Almost all flights to Alaska </tspan>
                <tspan x="311" y="289">go through Seattle.</tspan>
            </text>
            <text id="Hawaii-is-a-popular" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="170" y="523">Hawaii is a popular </tspan>
                <tspan x="170" y="539">destination for Alaskans</tspan>
            </text>
            <path d="M386,358 L386,303" id="Line" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" points="118 570 112 568 118 566"></polygon>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(386.000000, 360.000000) rotate(-90.000000) translate(-386.000000, -360.000000) " points="389 362 383 360 389 358"></polygon>
        </g>
    </g>
</svg>
