
<svg width="800px" height="800px" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>atlanta</title>
    <desc>Created with Sketch.</desc>
    <g id="atlanta" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <text id="Atlanta" font-family="NunitoSans-Regular, Nunito Sans" font-size="16" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="373.5" y="636">Atlanta</tspan>
        </text>
        <text id="Flights-arrive-in-Bi" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="498" y="423">Flights arrive in </tspan>
            <tspan x="498" y="439">Birmingham, Alabama </tspan>
            <tspan x="498" y="455">10min before their local </tspan>
            <tspan x="498" y="471">departure time.</tspan>
        </text>
        <path d="M416.063352,407.971211 C438.79205,438.405697 461.780712,443.113335 488.08406,443.364021" id="Path-2" stroke="#FFFFFF"></path>
        <polygon id="Path-13-Copy-3" fill="#FFFFFF" transform="translate(415.000000, 406.000000) rotate(58.000000) translate(-415.000000, -406.000000) " points="418 408 412 406 418 404"></polygon>
        <text id="Eastern-Standard-Tim" opacity="0.5" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="315.766" y="652">Eastern Standard Time (UTC-5)</tspan>
        </text>
    </g>
</svg>
