<svg width="800px" height="800px" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>chicago</title>
    <desc>Created with Sketch.</desc>
    <g id="chicago" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Path-13" fill="#FFFFFF" transform="translate(446.000000, 339.000000) rotate(-90.000000) translate(-446.000000, -339.000000) " points="449 341 443 339 449 337"></polygon>
        <polygon id="Path-13" fill="#FFFFFF" transform="translate(538.000000, 387.000000) rotate(174.000000) translate(-538.000000, -387.000000) " points="541 389 535 387 541 385"></polygon>
        <polygon id="Path-13-Copy" fill="#FFFFFF" transform="translate(410.000000, 398.000000) rotate(-6.000000) translate(-410.000000, -398.000000) " points="413 400 407 398 413 396"></polygon>
        <text id="From-Chicago’s-persp" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="43" y="297">From Chicago’s perspective, </tspan>
            <tspan x="43" y="313">San Francisco and Salt Lake </tspan>
            <tspan x="43" y="329">City are basically the same. </tspan>
        </text>
        <text id="Lake-Michigan-is-tru" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="371" y="144">Lake Michigan is truly </tspan>
            <tspan x="371" y="160">immense looking from </tspan>
            <tspan x="371" y="176">Chicago…</tspan>
        </text>
        <path d="M118.07135,342 C117.405415,353.333333 121.401025,363 130.058178,371 C138.715331,379 156.362605,383 183,383" id="Path-27" stroke="#FFFFFF"></path>
        <path d="M412,398 L535.5,387.5" id="Line-15" stroke="#FFFFFF" stroke-dasharray="1"></path>
        <text id="2h30min" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="433" y="413">2h30min</tspan>
        </text>
        <path d="M446,337.5 L446,189" id="Line-3" stroke="#FFFFFF" stroke-linecap="square"></path>
        <polygon id="Path-13" fill="#FFFFFF" transform="translate(186.000000, 383.000000) rotate(-180.000000) translate(-186.000000, -383.000000) " points="189 385 183 383 189 381"></polygon>
    </g>
</svg>
