<svg width="800px" height="800px" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>detroit</title>
    <desc>Created with Sketch.</desc>
    <g id="detroit" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <text id="30min" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="414" y="423">30min</tspan>
        </text>
        <polygon id="Path-13-Copy-2" fill="#FFFFFF" transform="translate(374.000000, 364.000000) rotate(-90.000000) translate(-374.000000, -364.000000) " points="377 366 371 364 377 362"></polygon>
        <polygon id="Path-13-Copy-3" fill="#FFFFFF" transform="translate(385.000000, 406.000000) rotate(58.000000) translate(-385.000000, -406.000000) " points="388 408 382 406 388 404"></polygon>
        <text id="…but-from-Detroit,-i" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="299" y="160">…but from Detroit, it’s not </tspan>
            <tspan x="299" y="176">even a thing. </tspan>
        </text>
        <path d="M409.5,419 C397.5,419 389.5,413.5 385.5,407" id="Path-8" stroke="#FFFFFF"></path>
        <path d="M374,364 L374,190" id="Line-3" stroke="#FFFFFF" stroke-linecap="square"></path>
    </g>
</svg>
