<svg width="1000px" height="700px" viewBox="0 0 1000 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>honolulu</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="honolulu">
            <text id="Honolulu’s-airport-i" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="243" y="657">Honolulu’s airport is the </tspan>
                <tspan x="243" y="673">archipel’s hub.</tspan>
            </text>
            <text id="New-York-appears-15" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="501" y="73">New York appears 15 hours </tspan>
                <tspan x="501" y="89">away!</tspan>
            </text>
            <path d="M233,661 L171,661" id="Line-14" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" points="172 663 166 661 172 659"></polygon>
            <path d="M776,88.5 C741.5,36 617,27.6103847 576,58.1103847" id="Path-4" stroke="#FFFFFF" stroke-dasharray="2,2"></path>
            <polygon id="Path-13-Copy-2" fill="#FFFFFF" transform="translate(777.000000, 90.000000) rotate(-124.000000) translate(-777.000000, -90.000000) " points="780 92 774 90 780 88"></polygon>
        </g>
    </g>
</svg>
