<svg width="1000px" height="700px" viewBox="0 0 1000 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>honolulu</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="honolulu">
            <text id="Honolulu’s-airport-i" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="243" y="657">Honolulu’s airport is the </tspan>
                <tspan x="243" y="673">archipel’s hub.</tspan>
            </text>
            <text id="Hawaii-might-be-furt" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="353" y="180">Hawaii might be further </tspan>
                <tspan x="353" y="196">away than Alaska, but most </tspan>
                <tspan x="353" y="212">US airports have regular </tspan>
                <tspan x="353" y="228">flights to this paradise</tspan>
            </text>
            <text id="New-York-appears-15-" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="501" y="97">New York appears 15-hour </tspan>
                <tspan x="501" y="113">away!</tspan>
            </text>
            <path d="M233,661 L171,661" id="Line-14" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" points="172 663 166 661 172 659"></polygon>
            <path d="M514.5,213 C536.166667,218.333333 546.666667,239 546,275" id="Path-3" stroke="#FFFFFF"></path>
            <path d="M514.5,196.5 C569.5,204.5 615.5,195.055556 635.5,182" id="Path-2" stroke="#FFFFFF"></path>
            <path d="M514.5,204.5 C588,221.5 635,230 665,211" id="Path" stroke="#FFFFFF"></path>
            <path d="M776,88.5 C741.5,36 617,45.5 576,76" id="Path-4" stroke="#FFFFFF" stroke-dasharray="2,2"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(637.000000, 181.000000) rotate(145.000000) translate(-637.000000, -181.000000) " points="640 183 634 181 640 179"></polygon>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(666.000000, 210.000000) rotate(144.000000) translate(-666.000000, -210.000000) " points="669 212 663 210 669 208"></polygon>
            <polygon id="Path-13-Copy" fill="#FFFFFF" transform="translate(546.000000, 277.000000) rotate(-90.000000) translate(-546.000000, -277.000000) " points="549 279 543 277 549 275"></polygon>
            <polygon id="Path-13-Copy-2" fill="#FFFFFF" transform="translate(777.000000, 90.000000) rotate(-124.000000) translate(-777.000000, -90.000000) " points="780 92 774 90 780 88"></polygon>
        </g>
    </g>
</svg>
