<svg width="800px" height="500px" viewBox="0 0 800 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>los-angeles</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="los-angeles">
            <path d="M232.2,399 C242.782011,399 251.247619,398.301587 257.596825,396.904762 C263.946032,395.507937 268.813757,392.539683 272.2,388" id="Line-13" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(273.693009, 386.576247) rotate(131.000000) translate(-273.693009, -386.576247) " points="276.693009 388.576247 270.693009 386.576247 276.693009 384.576247"></polygon>
            <path d="M757.5,173.5 L779,173.5" id="Line-13" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" points="759 175.5 753 173.5 759 171.5"></polygon>
            <path d="M722.950825,178.176443 C711.478857,172.961748 702.952394,165.628583 697.371436,156.176948 C691.790479,146.725313 689,134.66633 689,120" id="Path-15" stroke="#FFFFFF"></path>
            <polygon id="Path-13-Copy" fill="#FFFFFF" transform="translate(725.000000, 179.000000) rotate(-157.000000) translate(-725.000000, -179.000000) " points="728 181 722 179 728 177"></polygon>
            <text id="If-your-plane-leaves-Copy" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="91" y="395">If your plane leaves Los </tspan>
                <tspan x="91" y="411">Angeles at 12pm PST… </tspan>
            </text>
            <text id="…it-arrives-5-hours" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="620" y="75">…it arrives 5 hours later. </tspan>
                <tspan x="620" y="91">But in New York, it’s </tspan>
                <tspan x="620" y="107">already 10pm.</tspan>
            </text>
            <text id="The-slowest-plane-ar" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="790.5" y="153.5">The slowest plane arrives </tspan>
                <tspan x="790.5" y="169.5">in New York at 10:45pm </tspan>
                <tspan x="790.5" y="185.5">EST. 45min after the </tspan>
                <tspan x="790.5" y="201.5">fastest one.  </tspan>
            </text>
        </g>
    </g>
</svg>
