<svg width="600px" height="600px" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>miami</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="miami" transform="translate(-178.000000, 0.000000)">
            <text id="Leaving-Miami-at-12p" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="566" y="122">Leaving Miami at 12pm </tspan>
                <tspan x="566" y="138">EST…</tspan>
            </text>
            <text id="…and-arriving-in-Sea" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="137" y="327">…and arriving in Seattle XX </tspan>
                <tspan x="137" y="343">hours later, at XXpm PST.</tspan>
            </text>
            <text id="New-Orleans-(a-12h-d" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="352" y="467">New Orleans (a 12h drive) </tspan>
                <tspan x="352" y="483">appears closer than </tspan>
                <tspan x="352" y="499">Orlando (a 3h30 drive).</tspan>
            </text>
            <path d="M641,151.5 C641,215.5 615,299.5 520,346" id="Path-5" stroke="#FFFFFF"></path>
            <path d="M427,355 L427,445" id="Line-2" stroke="#FFFFFF" stroke-linecap="square"></path>
            <path d="M303,209.5 C240.5,217.5 211.999844,265.5 211.999844,305" id="Path-6" stroke="#FFFFFF"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(305.000000, 209.000000) rotate(168.000000) translate(-305.000000, -209.000000) " points="308 211 302 209 308 207"></polygon>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(427.000000, 353.000000) rotate(90.000000) translate(-427.000000, -353.000000) " points="430 355 424 353 430 351"></polygon>
            <polygon id="Path-13-Copy" fill="#FFFFFF" transform="translate(518.000000, 347.000000) rotate(-29.000000) translate(-518.000000, -347.000000) " points="521 349 515 347 521 345"></polygon>
        </g>
    </g>
</svg>
