<svg width="600px" height="600px" viewBox="0 0 600 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>new-york</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="new-york" transform="translate(-100.000000, 0.000000)">
            <text id="1-pm-arrival-local-t" opacity="0.504789807" font-family="NunitoSans-Regular, Nunito Sans" font-size="10" font-weight="normal" line-spacing="12" fill="#FFFFFF">
                <tspan x="526" y="357">1 pm arrival </tspan>
                <tspan x="526" y="369">local time</tspan>
            </text>
            <text id="2-pm" opacity="0.504789807" font-family="NunitoSans-Regular, Nunito Sans" font-size="10" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="526" y="421">2 pm</tspan>
            </text>
            <text id="3-pm" opacity="0.504789807" font-family="NunitoSans-Regular, Nunito Sans" font-size="10" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="526" y="482">3 pm</tspan>
            </text>
            <text id="If-your-plane-leaves" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="449.5" y="151">If your plane leaves New </tspan>
                <tspan x="449.5" y="167">York at noon EST… </tspan>
            </text>
            <text id="…it-arrives-in-Los-A" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="111" y="274">…it arrives in Los Angeles </tspan>
                <tspan x="111" y="290">between 3:15 pm and </tspan>
                <tspan x="111" y="306">3:45 pm PST.</tspan>
            </text>
            <text id="Atlanta-appears-in-t" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="153" y="471">Atlanta appears in the </tspan>
                <tspan x="153" y="487">Gulf of Mexico, because </tspan>
                <tspan x="153" y="503">some flights arrive on the </tspan>
                <tspan x="153" y="519">coast as early as 2:10 pm </tspan>
                <tspan x="153" y="535">CST.</tspan>
            </text>
            <path d="M254.2,286 L293.5,286" id="Line-13" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(293.500000, 286.000000) rotate(180.000000) translate(-293.500000, -286.000000) " points="296.5 288 290.5 286 296.5 284"></polygon>
            <path d="M519.5,268.5 L519.5,178.5" id="Line" stroke="#FFFFFF" stroke-linecap="square"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(519.500000, 270.000000) rotate(-90.000000) translate(-519.500000, -270.000000) " points="522.5 272 516.5 270 522.5 268"></polygon>
            <path d="M440.837615,461.703149 C464.727893,473.420786 491.595618,480 520,480 L520,480" id="Path" stroke="#FFFFFF" opacity="0.408784412" stroke-dasharray="1"></path>
            <path d="M480.992611,413.517689 C493.222234,417.719168 506.344759,420 520,420 L520,420" id="Path" stroke="#FFFFFF" opacity="0.408784412" stroke-dasharray="1"></path>
            <path d="M495.259028,354.677715 C502.802506,358.096448 511.178954,360 520,360 L520,360" id="Path" stroke="#FFFFFF" opacity="0.408784412" stroke-dasharray="1"></path>
            <path d="M388,409.527786 C388,441.62949 341.218651,474.837256 299.524835,485.115991" id="Path-3" stroke="#FFFFFF"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(388.000000, 407.000000) rotate(-270.000000) translate(-388.000000, -407.000000) " points="391 409 385 407 391 405"></polygon>
        </g>
    </g>
</svg>
