<svg width="800px" height="800px" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>phoenix-summer</title>
    <desc>Created with Sketch.</desc>
    <g id="phoenix-summer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="NunitoSans-Regular, Nunito Sans" font-weight="normal" line-spacing="16">
        <text id="In-summer,-cities-ea" font-size="12" fill="#FFFFFF">
            <tspan x="242" y="468">In summer, cities east and </tspan>
            <tspan x="242" y="484">west of Phoenix appear 1h </tspan>
            <tspan x="242" y="500">further away.</tspan>
        </text>
        <text id="Phoenix-in-summer" font-size="16" fill="#FFFFFF">
            <tspan x="331.5" y="636">Phoenix in summer</tspan>
        </text>
        <text id="Mountain-Standard-Ti" opacity="0.5" font-size="12" fill="#FFFFFF">
            <tspan x="310.846" y="656">Mountain Standard Time (UTC-8)</tspan>
        </text>
    </g>
</svg>
