<svg width="800px" height="800px" viewBox="0 0 800 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>phoenix</title>
    <desc>Created with Sketch.</desc>
    <g id="phoenix" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Path-13-Copy-2" fill="#FFFFFF" transform="translate(370.000000, 402.000000) rotate(180.000000) translate(-370.000000, -402.000000) " points="373 404 367 402 373 400"></polygon>
        <text id="In-winter,-Las-Vegas" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="151" y="340">In winter, Las Vegas and </tspan>
            <tspan x="151" y="356">San Diego appear just </tspan>
            <tspan x="151" y="372">15min away from Phoenix.</tspan>
        </text>
        <text id="Phoenix-in-winter" font-family="NunitoSans-Regular, Nunito Sans" font-size="16" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="337.5" y="636">Phoenix in winter</tspan>
        </text>
        <path d="M367.847199,402 C337.989371,402 313.702797,396.120792 294.987477,384.362377" id="Path-9" stroke="#FFFFFF"></path>
        <text id="Mountain-Standard-Ti" opacity="0.5" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
            <tspan x="310.846" y="656">Mountain Standard Time (UTC-8)</tspan>
        </text>
    </g>
</svg>
