<svg width="800px" height="500px" viewBox="0 0 800 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>seattle</title>
    <desc>Created with Sketch.</desc>
    <g id="markings" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="seattle">
            <text id="Leaving-Seattle-at-1" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="323" y="118">Leaving Seattle at 12pm </tspan>
                <tspan x="323" y="134">PST…</tspan>
            </text>
            <text id="…and-arriving-in-Mia" font-family="NunitoSans-Regular, Nunito Sans" font-size="12" font-weight="normal" line-spacing="16" fill="#FFFFFF">
                <tspan x="715" y="466">…and arriving in Miami </tspan>
                <tspan x="715" y="482">5h20min later, at 8:20pm </tspan>
                <tspan x="715" y="498">EST.</tspan>
            </text>
            <path d="M313.5,123 C274.5,131.5 261,162.5 261,187.5" id="Path-70" stroke="#FFFFFF"></path>
            <path d="M789.5,444.5 C789.5,421.833333 782.333333,402.666667 768,387" id="Path-71" stroke="#FFFFFF"></path>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(261.000000, 190.000000) rotate(-90.000000) translate(-261.000000, -190.000000) " points="264 192 258 190 264 188"></polygon>
            <polygon id="Path-13" fill="#FFFFFF" transform="translate(768.000000, 387.000000) rotate(48.000000) translate(-768.000000, -387.000000) " points="771 389 765 387 771 385"></polygon>
        </g>
    </g>
</svg>
