#about {

  .hero-image {

    .me, .tagline {
      position: absolute;
      bottom: 0;
    }

    .me {
      max-height: 350px;
      margin-left: -60px;
    }

    .tagline {
      padding: 0;
      margin-bottom: 70px;

      li {
        background: #212D39;
        color: #FFF;
        font-size: 2em;
        font-family: AvenirMedium;
        font-style: oblique;
        margin-bottom: 2px;
        line-height: 1;
        padding: 0 5px;
        display: inline-block;
      }
    }
  }

  article {

    aside {
      width: 30%;
      right: 0;
      position: absolute;
      padding-left: 30px;

      &.quote .inner {
        font-family: MyriadPro;
        font-weight: bold;
        font-size: 1.4em;
        border: 5px solid #333;
        border-width: 5px 0;
        line-height: 1;
        padding: 8px 0;
      }
    }
  }
}