#about {
  .hero-image {
    header h1 {
      text-align: center;
      margin: 0;
    }

    .me, .tagline {
      position: absolute;
      bottom: 0;
    }

    .me {
      max-height: 350px;
      margin-left: -60px;
    }

    .tagline {
      padding: 0;
      margin-bottom: 70px;

      li {
        background: #212D39;
        color: white;
        font-size: 2em;
        font-family: AvenirMedium;
        font-style: oblique;
        margin-bottom: 2px;
        line-height: 1;
        padding: 0 5px;
        display: inline-block;
      }
    }
  }

  article aside {
    .inner {
      font-family: MyriadPro;
      font-weight: bold;
      font-size: 1.4em;
      border: 5px solid #333;
      border-width: 5px 0;
      line-height: 1;
      padding: 8px 0;
    }
  }
}

@media (max-width : $screen-sm-min) {
  #about {

    article aside {
      margin: 30px 0;

      .inner {
        font-size: 1.8em;
        border-width: 0 0 0 5px;
        padding: 0 0 0 20px;
      }
    }
  }
}