#case-study {

  $dropbox-blue: #007EE5;
  $p-color: #777;

  overflow: hidden;

  .container {
    max-width: 1100px;
  }

  .img-overflow {
    position: absolute;
    max-width: 600px;

    &.overflow-left {
      right: 15px;
    }
  }

  p, li {
    color: $p-color;
    b {
      font-weight: 600;
    }
  }

  li {
    margin-bottom: 10px;
  }

  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

  h1, h3 {
    font-weight: 600;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 30px;
  }

  h3 {
    color: $dropbox-blue;
    font-size: 18px;
    margin-top: 30px;
  }

  section {
    margin: 180px 0;
  }

  .btn-primary {
    background-color: $dropbox-blue;
    border: 0;
    border-radius: 2px;
  }

  .my-intro {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    img {
      border-radius: 50%;
      width: 150px;
      margin: 80px auto 30px auto;
    }

    h1 {
      margin-bottom: 5px;
    }

    h2 {
      margin: 0 0 30px 0;
      font-size: 22px;
    }

    p {
      font-size: 1.4em;
      color: #333;
    }

    .btn {
      margin-top: 30px;
    }
  }

  .separator {
    width: 200px;
    background-color: #eee;
    height: 4px;
    margin: 120px auto;
  }

  .dropbox-intro {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 240px;

    img {
      width: 80px;
      margin-right: 20px;
    }

    h2 {
      color: $dropbox-blue;
      margin: 0;
      font-size: 22px;
    }

    h1 {
      color: $dropbox-blue;
      margin: 0;
    }

    .sub {
      color: $p-color;
    }

    p {
      margin-top: 30px;
    }
  }

  .problem-definition {
    .design-question {
      font-size: 1.4em;
      font-style: italic;
    }
  }

  .research {

    img {
      max-width: 1000px;
      max-height: 750px;
    }
    h2 {
      margin-top: 0;
    }
  }

  .personas {

    .persona {
      background-color: #eee;
      padding: 70px 30px 30px 30px;
      margin-top: 100px;
      position: relative;
    }

    img {
      width: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      border: 3px solid $dropbox-blue;
    }

    h3 {
      margin: 0 0 30px 0;

      span {
        font-weight: normal;
      }
    }

    .separator {
      width: 50px;
      background-color: #ccc;
      height: 2px;
      margin: 15px auto;
    }

    .quote {
      font-style: italic;
    }
  }

  .ideation {
    .inner {
      position: relative;
      height: 640px;

      h2 {
        margin-top: 0;
      }

      img {
        margin-top: 20px;
      }
    }
  }

  .prototyping {
    height: 760px;
    padding: 60px 0;
    background-image: url($images-path+'/case-study/prototyping.jpg');
    background-color: #5D5D5D;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px auto;
    background-size: auto 650px;

    h2 {
      color: white;
    }

    p {
      color: #ddd;
    }

    a {
      color: white;
    }

  }

  .prototype {
    .phone-wrapper {
      position: relative;
      height: 600px;
      .phone {
        height: 600px;
        position: absolute;
        right: 0;
      }
      .screen {
        position: absolute;
        height: 480px;
        right: 36px;
        top: 48px;
      }
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin: 0 0 30px 0;
    }

    .description-wrapper {
      position: relative;
      height: 550px;

      .btn-toolbar {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .testing {
    h2 {
      margin-top: 0;
    }
    img {
      max-height: 600px;
      max-width: 1000px;
    }
  }

  .implementation {
    background-color: #eee;
    padding: 60px 0;

    h2 {
      margin-top: 0;
    }

    .phone-wrapper {
      position: relative;
      height: 731px;
      width: 417px;
      margin: 30px auto 0 auto;

      .phone {
        height: 731px;
        position: absolute;
        right: 0;
      }
      .app {
        border: 0;
        position: absolute;
        right: 44px;
        top: 59px;
        height: 584px;
        width: 330px;
      }
    }
  }

  .conclusion {
    .btn {
      margin-top: 30px;
    }
  }
}