#index {
  .section-title {
    font-size: 30px;
    font-family: $font-family-sans-narrow;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 22px;
    margin-top: 0;
  }

  .splash {
    position: relative;
    width: 100%;
    padding-bottom: 480 / 1400 * 100%;

    background-image: url($images-path + "/splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .name {
      position: absolute;
      left: 29%;
      top: 12%;
    }
  }

  .intro {
    margin: 50px 0 0 0;
    font-size: 28px;
    font-family: $font-family-sans-narrow;
  }

  .values {
    margin: 200px 0 200px;
  }

  .navigation-links {
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;

    li {
      display: inline-block;
      margin-left: 20px;
      a {

      }
    }
  }

  .project-meta {
    font-family: $font-family-sans-narrow;
    margin-bottom: 5px;

    .bullet {
      padding: 0 12px;

      &:before {
        content: '\2022';
        position: relative;
        font-size: 8px;
        bottom: 3px;

      }
    }
  }

  .main-project {
    display: block;
    color: $text-color;

    &.goggles {
      background-color: #2C2C3A;
      background-image: url($images-path + "/goggles-roam.png");
      background-size: auto 600px;
      background-repeat: no-repeat;
      background-position: 10%;
      min-height: 700px;
      padding: 50px 0;
      color: transparentize(white, 0.2);

      .read-more-link {
        color: transparentize(white, 0.2);
      }

      .column {
        background: transparentize(#2C2C3A, 0.2);
      }
    }

    &.cogniac {
      background-color: #F2F7FC;
      overflow: hidden;
      padding: 50px 0;

      .dashboard {
        position: relative;
        height: 500px;
        width: 100%;

        img {
          position: absolute;
          height: 100%;
          box-shadow: 0 4px 20px rgba(49, 65, 92, 0.2), 0 1px 2px rgba(49, 65, 92, 0.3);
        }
      }
    }

    &.adminca {
      background-color: #0F3B68;
      color: transparentize(white, 0.2);
      background: url($images-path + "/adminca-computer.jpg");
      background-size: 100% auto;
      background-position: center 80%;
      overflow: hidden;

      .read-more-link {
        color: transparentize(white, 0.2);
      }

      .column {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        z-index: 1;
        height: 700px;

        &:after {
          position: absolute;
          height: 100%;
          background-color: #0F3B68;
          width: 1000px;
          content: '';
          top: 0;
          left: -20px;
          z-index: -1;
        }
      }
    }

    .read-more-link {
      text-transform: uppercase;
      font-family: $font-family-sans-narrow;
      color: $text-color;
      margin-top: 15px;
      display: inline-block;
      float: right;
    }
  }

  .other-projects {
    padding: 70px 0;

    .section-title {
      margin-bottom: 30px;
    }

    .other-project {
      margin-bottom: 40px;
      cursor: pointer;
      color: $text-color;
      display: block;

      h3 {
        margin-bottom: 5px;
      }

      .read-more-project {
        display: none;
        text-transform: uppercase;
        font-family: $font-family-sans-narrow;
        position: absolute;
        left: 20px;
        bottom: -25px;
      }

      &:hover {
        .read-more-project {
          display: inline;
        }
      }
    }

    .project-meta {
      .bullet {
        padding: 0 8px;
      }
    }

    .spotlight-project {
      color: $text-color;
      display: block;
      margin-bottom: 70px;
      text-decoration: none;

      h3 {
        margin-bottom: 5px;
      }

      .project-meta {
        margin-bottom: 15px;
      }

      & > .inner {
        border-radius: 4px;
        padding: 20px;
        cursor: pointer;
        min-height: 234px;
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        transition: 0.2s box-shadow, 0.2s transform;
      }

      &:hover {
        & > .inner {
          box-shadow: 0 3px 16px rgba(0,0,0,0.1);
          transform: translateY(-1px);
        }
      }

      &.dino-fit > .inner {
        background-color: #B8E3E6;
        background-image: url($images-path + "/dinofit-pushups.png");
      }

      &.smart-bricks > .inner {
        background-color: #8BB9D5;
        background-image: url($images-path + "/smart-bricks-house.png");
      }

      .spotlight-project-info {
        width: 46%;
      }
    }
  }

  .adventures {
    padding: 50px 0;
    background-color: #FBF9F9;

    .section-title {
      margin-bottom: 10px;
    }

    .section-description {
      margin-bottom: 50px;
    }

    .instagram-photo {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  @media (max-width : $screen-sm-min) {
    .values {
      margin: 100px 0 100px;

      h3 {
        margin: 40px 0 10px 0;
      }
    }

    .splash {
      padding-bottom: 100%;

      .name {
        left: 0;
        top: 0;
        transform: scale(0.8);
      }
    }

    .main-project.cogniac {
      .dashboard {
        height: auto;
        margin-top: 40px;

        img {
          width: 100%;
          height: auto;
          position: relative;
        }
      }
    }

    .main-project.adminca {
      .column {
        height: auto;
      }
    }
  }
}
