#influences {
  .left-column {
    background-image: url($images-path+'/influences-image.jpg');
  }

  .list-header {
    margin-bottom: 5px;
    font-weight: bold;
    color: $gray-light;
    font-size: 1.2em;
    font-family: $headings-font-family;
  }

  ul.list {
    list-style-type: none;
    padding-left: 15px;
    font-size: 1.2em;
    font-family: $headings-font-family;

    li {
      color: $gray-light;
      margin-bottom: 5px;
    }
  }

  h2 {
    margin-top: 40px;
  }

  .footnotes {
    font-size: 1.2em;
  }
}