#project {

  .project-cover {
    .project-logo {
      max-width: 200px;
      height: auto;
      margin: 50px auto 0px auto;
      display: block;
    }

    h1 {
      text-align: center;
      font-size: 4em;
      margin: 0;
    }

    .ragged-edge {
      margin-top: 50px;
    }
  }

  .project-item .project-logo {
    height: 80px;
  }

  .related-projects {
    border-top: 3px solid #EEE;
    margin-top: 30px;

    h2 {
      .separator {
        color: $text-light-color;
        padding: 0 10px;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width : $screen-sm-min) {
  #project {
    .project-cover {
      h1 {
        font-size: 3em;
      }
    }
  }
}