<a href="http://adminca.com" target="_blank" class="project-link">Visit Website</a>

<p class="intro">While customer facing products are well designed, the people building them still suffer from inefficient and clumsy tools. I co-founded Adminca with the mission to remove poorly designed admin interfaces from the workplace.</p>

<div class="embed-responsive embed-responsive-16by9 raised">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tGQS_LY1HOs?rel=0" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
</div>

<div class="section-title">
  <h2>The Problem</h2>
  <p>Admin Panels are Broken</p>
</div>

<p>Every mobile or web application accumulates data in its backend database. Companies have to design and develop admin panels to enable their non-technical staff to view and manage this data. However, creating admin panels has always been a hassle, because:</p>
<ul>
  <li>Developers <b>waste time</b> building and maintaining a non-revenue-generating tool.</li>
  <li>It often <b>lowers staff efficiency</b> due to poorly designed interface.</li>
</ul>

<div class="section-title">
  <h2>Our Solution</h2>
  <p>Data Interface as a Service</p>
</div>

<p>Adminca solves the admin panel problem by providing a Data Interface as a Service through an API. It empowers companies to create and use well-designed admin panel with no effort.</p>

<ul>
  <li>By leveraging APIs, Adminca can easily connect to any backend framework and create an admin panel in a matter of seconds. Plus, no maintenance required.</li>
  <li>Following the User-Centered Design approach, Adminca focuses on efficiency-enhancing features that make non-technical users’ lives easier.</li>
</ul>

<img src="assets/images/projects/adminca-diagram.png" class="img-responsive" alt="How Adminca works">

<div class="section-title">
  <h2>Our Product</h2>
  <p>An MVP for Parse</p>
</div>

<p>The first version of Adminca supports the mobile backend <a href="https://www.parse.com" target="_blank">Parse.com</a>. After proving the feasibility with this MVP, we are now expanding to other backends.</p>

<div class="row">
  <div class="col-sm-4">
    <img src="assets/images/projects/adminca-connect.png" class="img-responsive center-block" alt="Adminca connect"/>
    <h3>Connect</h3>
    <p>Only App Keys needed for Adminca to create the admin panel in seconds.</p>
    <p>No additional coding required. Works out of box.</p>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/projects/adminca-customize.png" class="img-responsive center-block" alt="Adminca customize"/>
    <h3>Customize</h3>
    <p>Set permissions for each data class and field, e.g. visibility and editability.</p>
    <p>Customize each field in any class, e.g. default values.</p>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/projects/adminca-invite.png" class="img-responsive center-block" alt="Adminca invite"/>
    <h3>Invite</h3>
    <p>Invite co-workers or clients to view and manage data in the admin panel.</p>
    <p>Collaborators are not able to change any settings.</p>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9 raised">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bBo8nM-DNzc?rel=0" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
</div>

<div class="section-title">
  <h2>Reception</h2>
  <p>Mobile agencies love it!</p>
</div>

<p>We launched in January 2016 and quickly saw people using it! Adminca is the perfect tool for web and mobile agencies. It allow them to offer an admin panel to their clients without the need for coding.</p>
<p>However, on January 28th Parse announced that they would shut down the service in a year! At the same time they released their server to the open source community. All the Parse's features but their dashboard are available. <b>In the end, Adminca became a great replacement of the defunct dashboard!</b> Since then, we have seen a jump in the number of signups. It's only the beginning, we are partnering with other services to offer easy to setup and use admin panels!</p>

<div class="row">
  <div class="col-sm-4">
    {{twitter-card tweet-id='694862419382894592' class="twitter-card"}}
  </div>
  <div class="col-sm-4">
    {{twitter-card tweet-id='697939302991290368' class="twitter-card"}}
  </div>
  <div class="col-sm-4">
    {{twitter-card tweet-id='696758247106031616' class="twitter-card"}}
  </div>
</div>

<p>Try Adminca now at <a href="http://adminca.com" target="_blank">Adminca.com</a>, or follow us on <a href="https://www.facebook.com/admincacom" target="_blank">Facebook</a> and <a href="https://twitter.com/A_dminca" target="_blank">Twitter</a>.</p>
