<a href="http://adminca.com" target="_blank" class="project-link">Visit Website</a>

<p class="intro">While customer facing products are well designed, the people building them still suffer from inefficient and clumsy tools. I co-founded Adminca with the mission to remove poorly designed admin interfaces from the workplace.</p>

<div class="embed-responsive embed-responsive-16by9 raised">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bBo8nM-DNzc" frameborder="0" class="embed-responsive-item" allowfullscreen></iframe>
</div>

<p>Try Adminca now at <a href="http://adminca.com" target="_blank">adminca.com</a>, or follow us on <a href="https://www.facebook.com/admincacom" target="_blank">Facebook</a> and <a href="https://twitter.com/A_dminca" target="_blank">Twitter</a>.</p>