<div class="hero-image">
  <div class="browser-frame">
    <img src="/assets/images/projects/annotation-manager-overview.png" alt="Annotation Manager"/>
  </div>
  <div class="backdrop" style="background: #1A4160"></div>
</div>

<div class="centered-column">
  <p>Mid-2018, Roam Analytics recentered its efforts to focus on what it does best: extracting data from unstructured healthcare notes. Healthcare organizations accumulate vast amounts of clinical notes, but most of that information sits in locked databases. Clinical notes contain valuable information about the patient lifestyle, mental state, and risk factors, etc. More importantly, it can be extracted and analyzed across an entire population. Understanding these trends moves us toward a future where healthcare is more accessible and affordable.</p>

  <p>Natural language processing (NLP) models require thousands of examples to train. At Roam, it used to take highly paid engineers weeks to develop models, because we didn't have a standard tools. We also rely heavily on a team of nurses to create training datasets by annotating text. As a company, it made sense to invest in developing better tools to streamline that workflow.</p>

  <p>Working with the leadership team, I presented in a company-wide vision for what we called "the Roam platform". The Roam platform is an integrated tool for exploring language data, annotating text, training NLP models, and deploying them. To build that vision, I leveraged my experience at {{link-to 'Cogniac' 'project' 'cogniac' target="_blank"}}. At Cogniac, we had successfully built such a platform, which allowed a single person to create a computer vision model in a matter of hours. I thought it would be easy.</p>
</div>

<div class="section-title">
  <h2><span>Moving (too) fast</span></h2>
</div>

<div class="centered-column">
  <p>I didn’t waste time. As the only Designer and Frontend Engineer, I took it upon myself to move fast and deliver the first version of that vision.</p>

  <p>I assumed that creating training data for NLP tasks would be similar to creating training data for computer vision. I was wrong. While it takes someone a fraction of a second to make sense of an image, it takes more thought to understand the meaning of a sentence. Language is much more subjective.</p>

  <p>One of the biggest interaction design challenges was to create a text labeling interface. I had three constraints: 1) to support overlapping text annotations, 2) to allow connections between annotations (called relations), and 3) to keep the text legible.</p>

  <p>There are a few text-labeling tools out there, but they all sacrifice text legibility. This was unacceptable for me. Test labeling is already a daunting task for users. Tools should help, not hinder comprehension. Optimizing for two constraints is easy; optimizing for all three constraints at the same time is borderline impossible.</p>

  <p>It took a few dozens iterations.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation2.png" alt="Goggles Prototype"/>
      <figcaption>That's probably how you would annotate text on paper.</figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation1.png" alt="Goggles Prototype"/>
      <figcaption>It makes it easy to display relations, but would you read text vertically?</figcaption>
    </figure>
  </div>

</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation3.png" alt="Goggles Prototype"/>
      <figcaption>Trying to display relations between lines of text.</figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation4.png" alt="Goggles Prototype"/>
      <figcaption>Can we use the third dimension to display relations?</figcaption>
    </figure>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation5.png" alt="Goggles Prototype"/>
      <figcaption>What if we displayed relations on the side of the text?</figcaption>
    </figure>
  </div>
  <div class="col-sm-6">
    <figure>
      <img class="img-responsive" src="/assets/images/projects/annotation-manager-ideation6.png" alt="Goggles Prototype"/>
      <figcaption>Getting inspiration from subway maps to display relations.</figcaption>
    </figure>
  </div>
</div>

<div class="centered-column">
  <p>After a few days of tinkering, I decided to ask for help. After exposing the problem to a handful of co-workers, I ran a workshop to generate new ideas. The workshop was a success in two ways: we found a solution, and the team felt empowered.</p>
</div>

<figure>
  <div class="browser-frame">
    <video src="/assets/images/projects/annotation-manager-annotations.mov" alt="Annotation interface" class="img-responsive" autoplay loop/>
  </div>
  <figcaption>The annotation interface supporting relations and overlaps while keeping the text unobstructed</figcaption>
</figure>

<div class="centered-column">
  <p>It wasn’t all sunshine and rainbows. This project is the largest project I had ever undertaken; not in term of scope, but in the size of the team and its impact. I made two crucial mistakes which resulted in having to rebuild 50% of the product and a six month delay! The mistakes were: not testing assumptions early enough, and lack of ownership.</p>
</div>

<div class="section-title">
  <h2><span>Testing assumptions early</span></h2>
</div>

<div class="centered-column">

  <p>In January 2019, six months after the start of the project, we finally received feedback from our first user. Laura, a nurse employed by Roam, used the tool for the first time on a new project. Her feedback was concerning.</p>

  <p>The Annotation Manager isn’t the only product I’ve built. I’ve helped develop a dozen products over the years from mobile games to complex enterprise applications. I studied Human-Centered Design, and I know that testing early and often is paramount. And somehow, my manager and I waited six months to get feedback from users!</p>

  <p>That was a wake-up call. Why did I spend so much time building features when I should have done my designer's job? For the following weeks, I met with everyone who had used the tool. There were three main issues:</p>
  <ul>
    <li>The tool was too slow: text searches would take close to a minute to resolve. We clearly underestimated the size of the datasets.</li>
    <li>It was not flexible for nurses who worked on a flexible schedule.</li>
    <li>The integrated platform approach made it very hard for Data Scientists to integrate the tool into their workflow.</li>
  </ul>
  <p>Interestingly, users loved the new annotation interface I co-designed with them. It was miles ahead from <a target="_blank" href="https://brat.nlplab.org/examples.html">the leading annotation tool</a>.</p>
  <p>I went back to first principles. I realized that the current architecture was too limiting and a new mental model was needed. I created a series of interactive prototypes to test my assumptions. The prototypes went a long way in convincing end users and leadership that there was <i>a better way</i>. Just a few weeks later, the team started working on a new version of the Annotation Manager. I had succeeded!</p>
</div>

<div class="section-title">
  <h2><span>Lack of ownership</span></h2>
</div>

<div class="centered-column">
  <p>The tool was developed by the infrastructure and application teams. Because we advertised the tool as "the Roam platform”, Engineers believed we needed to invest resources in creating a strong data infrastructure. This two-team approach resulted in no-one owning for the direction of the project. Both teams optimized for different metrics, and communication issues crept up. For instance, the tool was slow because one team was optimizing for database writing speed instead of reading speed. And the teams were constantly blaming each other.</p>

  <p>I shared those concerns with leadership. They were taken seriously, but I encountered resistance to change. My solution &mdash; breaking up the teams &mdash; went contrary to the platform approach we had sold a few months ago.</p>

  <p>Taking a top-down approach didn’t work. I was disappointed, but I was decided to improve things. The bottom-up approach ended up being the right choice. During the prototyping phase, I made sure to include the implementation teams. I showed them my process and the reasons behind my decisions. I also used the opportunity to ask for their input which proved to be beneficial. By the end of the process, everyone understood the benefits of breaking up the platform into smaller units.</p>

  <p>It was decided that from now on, the Annotation Manager's goal would only be to annotate text. Exploring data and training models would happen somewhere else. Once that was clear, it was easy to convince leadership to give full ownership to one of the teams. Today, teams are more independent than ever and morale is much higher. I believe this is the right approach to building successful platforms.</p>

  <figure>
    <img class="img-responsive" src="/assets/images/projects/annotation-manager-deck.png" alt="Annotation Manager V2 deck"/>
    <figcaption>A slide of the deck I created to present the new Annotation Manager</figcaption>
  </figure>
</div>

<div class="section-title">
  <h2><span>A better way to build platforms</span></h2>
</div>

<div class="centered-column">
  <p>Platforms are sexy. I haven’t worked for a company that didn't want to be a platform. But platforms mean something different depending on who you talk to. We often think of platforms as a silver bullet. We convince ourselves that it will eventually solve all our problems. It blinds us and carries us away from our iterative approach to problem solving.</p>

  <p>I firmly believe that the best way to build platforms is to build a suite of independent and loosely connected products. The benefits are numerous:</p>
  <ol>
    <li>Independent products can evolve at their own pace. It makes it easier to iterate and mistakes are cheaper.</li>
    <li>A single team can own an entire product. Everyone on the team is aligned toward a single goal. The <a target="_blank" href="https://en.wikipedia.org/wiki/Conway%27s_law">Conway's law</a> states that the structure of a system is a reflection of the communication pattern of its individuals. Because individuals work closer to members on their team than outside of it, products will naturally be loosely coupled.</li>
    <li>It’s much easier to avoid scope creep because each product fulfills one single goal. Trying to add a new feature that isn’t aligned with any of the platform's existing products? Let’s create a new product and a new team!</li>
  </ol>

  <p>Cathal Horan from Intercom uses the <a target="_blank" href="https://www.intercom.com/blog/what-the-evolution-of-cities-can-teach-us-about-building-platforms/">metaphor of the city to describe platforms</a>. He writes "Like any complex entity that changes over time, it is difficult to fully predict its outcome or plan its evolution." Building a monolithic platform from scratch is such a huge undertaking, chances are requirements will have changed before its completion.</p>

  <figure>
    <img class="img-responsive" src="/assets/images/projects/annotation-manager-platform.png" alt="Roam's platform"/>
    <figcaption>The new Roam platform: a suite of independent tools</figcaption>
  </figure>
</div>

<div class="section-title">
  <h2><span>Promoting design thinking through example</span></h2>
</div>

<div class="centered-column">
  <p>At Roam, my evolution from a UX Engineer role to a Lead Designer role has been a slow and gradual one. I’ve worn multiple hats: from Frontend Engineer to Product Designer, and even Product Manager.</p>

  <p>Creating a strong Design culture is increasingly important. Many of the mistakes I’ve talked about could have been avoided if I had worn my Designer hat more often. As a result, I've delegated all my engineering responsibilities to new Frontend hires.</p>

  <p>Increasingly, I’ve been empowering other people at Roam to think critically. I've focused my efforts in arming people with design tools they can use to solve problems on their own. I found teaching by example to be a powerful tool. I’ve led multiple design sprints with cross-functional teams. My biggest surprise was seeing the emergence of design champions at Roam. As one of my teammates puts it: “Design was limited to the Annotation Manager, but Jordan brought it to the rest of Roam”.</p>
</div>
