<p class="intro">Following my internship as a {{link-to 'Web Developer' 'project' 'bittitan-dev'}} at BitTitan, I took ownership of the design of SalesAutomation. I successfully accomplished my goal of demonstrating the value of the User-Centered Design in leading product development.</p>

<div class="section-title">
  <h2>SalesAutomation</h2>
</div>

<p class="centered"><a href="http://www.bittitan.com/products/salesautomation/" target="_blank">SalesAutomation</a> is one of BitTitan’s latest products. It is an outbound call automation SaaS application. It streamlines the process of cold calling leads by offering powerful tools.</p>

<img src="assets/images/projects/bittitan-sa.png" class="img-responsive" alt="SalesAutomation concept">

<div class="columns">
  <p>Contrary to all BitTitan’s other products, the real value of SalesAutomation isn’t really in its implementation, but in understanding of the user’s needs. For over a year, the focus of the development team has been finding highly technical solutions to a UX problem.</p>
  <p>During my first internship as a Web Developer, I tried to find solutions that would improve the user experience of the product. But my reach was limited to the features I developed. I also didn’t have a proper understanding of the users and the business goals.</p>
  <p><b>After explaining the problem to our CTO Dominic Pouzin, I was given carte blanche to improve the user experience of SalesAutomation.</b></p>
</div>

<div class="section-title">
  <h2>The Challenge</h2>
  <p>How to bring back the focus on the user in a tech savvy environment?</p>
</div>

<div class="centered-column">
  <p>More than redesigning SalesAutomation, my primary goal was to show the value of the User-Centered-Design process in creating software people actually want to use.</p>
  <p>I tried to include as many employees as possible in the process. I interviewed stakeholders, lead design workshops, and presented my work multiple times.</p>
</div>

<div class="section-title">
  <h2>Implementation</h2>
  <p>From Research to Usability Testing</p>
</div>

<h3>Research</h3>
<p>The five weeks long user research period lead to many findings that I compiled into an actionable list that I shared and presented to the team. Although I didn’t have access to any actual user, I carried out the user research by interviewing and observing the internal Sales team, and by analyzing research papers.</p>
<p><b>The development team didn’t know who was using what they were building.</b></p>
<p>At the end of the research phase I had accumulated a few dozen documents. I created an affinity diagram to summarize my findings into seven themes. Finally, I created a document that I sent to my team, and I even presented the findings in front of the whole development team.</p>

<img src="assets/images/projects/bittitan-ideation.png" class="img-responsive" alt="Affinity diagram">

<div class="row">
  <div class="col-sm-8">
    <img src="assets/images/projects/bittitan-persona.png" class="img-responsive" alt="Personas">
  </div>
  <div class="col-sm-4">
    <h3>Personas</h3>
    <p>My goal with personas was to summarize research findings into coherent and understandable archetypes everyone could refer to. I led a persona workshop (inspired by <a href="http://adlininc.com" target="_blank">Tamara Adlin</a>) with Sales, Developers, and Managers, to demonstrate the process of creating personas.</p>
    <p>It went very well. The personas had much more impact than I first expected. <b>The management team quickly saw the power of personas in aligning business goals and understanding the users.</b></p>
    <p>BitTitan is now in the works of creating personas for its other products.</p>
  </div>
</div>

<h3>Ideation</h3>
<p>I created a complete wireframe, incorporating ideas from the research and the brainstorming workshops I led. The goal of the wireframes was to demonstrate how SalesAutomation could be improved if we took into account our users' needs. I introduced many new concepts but I made sure to always back up my design decisions with findings from research.</p>

<p>SalesAutomation integrated at its core a lot of states. It was complex for user to figure out what state they were currently in. <b>I designed a system of icons and colors to symbolize the state of each lead.</b> This would allow to understand at a glance the current state of a lead and the next action to perform.</p>

<img src="assets/images/projects/bittitan-system.png" class="img-responsive" alt="System overview">

<p>The current application forced Sales people to change their sales process. <b>In response, I designed features that empower users.</b> Previously, Sales didn't even have control over the lead to call next. By taking into account research findings, I redesigned the dashboard to give them the freedom they deserved, with the goal to improve efficiency.</p>
<p>For instance, a search bar allows to quickly lookup any contact, leads are grouped in buckets (using the previous system), a "hot list" presents leads that need to be contacted immediately, and graphs indicate the current performances and forecast.</p>

<img src="assets/images/projects/bittitan-dashboard.png" class="img-responsive raised" alt="Dashboard">

<p>I designed a dozen of new features. Knowing that it wouldn’t be possible to implement all the changes, I prioritized the new features and created a roadmap for the next months. A few features are currently being implemented.</p>

<h3>Usability Testing</h3>
<p>Finally, I lead a quick usability testing study. To test the software in a real environment, I used the famous Wizard of Oz technique to simulate calls. Once again, I shared the findings with the whole team by creating small video clips highlighting the main findings. It was the first time that we observed actual people making calls using the software! It had a huge impact on showing how the software was really performing.</p>

<div class="section-title">
  <h2>A learning Experience</h2>
  <p>Both for me and the company</p>
</div>

<div class="columns">
  <p>My main goal in trying to implement the UCD process at BitTitan was to show the value of such process in aligning business vision and user needs to build better products. I raised awareness among developers and product managers; there is now "a different way".</p>
  <p>Things start to change, but it’s a slow process. BitTitan just hired two UX Designers before the end of my internship. People from the management team are starting to use some User-Centered Design techniques when identifying new features.</p>
  <p>The real challenge&mdash;especially in very technical companies&mdash;is to incorporate those new practices into the product development process. Design doesn’t happen in the vacuum, and even the best ideas won’t succeed if the company culture is not permitting it.</p>
  <p>I found this exercise personally rewarding. Later, I would like to implement the UCD process at a larger scale, at the company level; and maybe try to build a UX team from a ground up.</p>
</div>
