<p class="intro">This project was the final assignment for the User-Centered Web Design class (HCDE 537) at the University of Washington. In teams we worked closely with the client to redesign their website.</p>

<p>Our mission consisted of applying the User-Centered Design process to redesign the <a href="http://bridgemin.org/" target="_blank">Bridge Disability Ministry's website</a>, a non-profit organization based in Bellevue, WA. Bridge helps people with disabilities live full and meaningful lives by providing medical equipment, case management services, and events.</p>

<div class="section-title">
  <h2>Existing Website</h2>
  <p>Didn't meet users &amp; organizational needs</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <img src="assets/images/projects/bridge-old.jpg" class="img-responsive no-margin-top raised" alt="Bridge old website"/>
  </div>
  <div class="col-sm-6">
    <p>After a meeting with the organization's stakeholders and reviewing the existing website, we concluded that the existing website didn't meet the users and organizational needs. The website suffered from an outdated design, an inconsistent navigation, overwhelming content, and it was not mobile-friendly.</p>
  </div>
</div>

<div class="section-title">
  <h2>Research</h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <img src="assets/images/projects/bridge-persona.png" class="img-responsive" alt="Primary persona"/>
  </div>
  <div class="col-sm-6">
    <h3>User Research</h3>
    <p>Our work started with a meeting with the client to understand the organization and their business goals. Then we conducted user research: we analyzed traffic data from the current website using Google Analytics and Crazy Egg, interviewed users, and created surveys. The data we gathered led to the creation of three main personas which was really helpful in summarizing the research into coherent stories.</p>

    <h3>User Tasks</h3>
    <p>Each personas was associated to a set of tasks that they needed to perform by using the website. Our three personas, a caretaker, a volunteer, and an equipment donor, all had very different reasons for visiting the website. User tasks included "joining an event", or "donate money". It helped later in improving the information architecture.</p>

    <h3>Information Architecture</h3>
    <p>Although the current website was definitely outdated, the biggest issue was improving the Information Architecture (IA). From the research, we noticed that users couldn’t easily find the information they needed. To improve the IA, we used a card sort method with a dozen representative users.</p>
  </div>
</div>

<div class="section-title">
  <h2>Design</h2>
</div>

<div class="centered">
  <p>Drawing on the research findings and the new IA, we quickly prototyped and iterated our design. Early paper prototypes were critiqued internally before moving to medium fidelity prototypes in Axure. We tested the interaction users. After few iterations we moved to visual design.</p>
</div>

<img src="assets/images/projects/bridge-sketch.jpg" class="img-responsive" alt="Sketching"/>

<div class="section-title">
  <h2>Implementation</h2>
  <p>A modular solution</p>
</div>

<div class="columns">
  <p>Using high-fidelity mockups, I implemented the final website in only a week! Because the client didn’t have the technical skills to update the website, I opted for a Content Management System (CMS). After reviewing multiple CMS, I selected Contentful. Contrary to other regular CMSs, Contentful doesn’t require to use an internal templating platform. It provides the content through a REST API, which gave me a lot of freedom and allowed me to use EmberJS on the front-end.</p>

  <p>Contentful+EmberJS proved to be a great solution: every piece of the website can be modified, from the information architecture, to every article. I even integrated a dozen of custom templates for displaying news, events, staff members, reports, newsletters, and so more.</p>
</div>

<div class="section-title">
  <h2>Conclusion</h2>
  <p>A success!</p>
</div>

<div class="centered">
  <p>The client was very satisfied with the final design and decided to replace their old website. An interactive version of the redesign can be found <a href="http://bridgemin.org/redesign/" target="_blank">here</a>.</p>
</div>

<img src="assets/images/projects/bridge-home.jpg" class="img-responsive" alt="Bridge Disability Ministry redesign"/>

<p class="text-muted">Team members: Jordan Vincent, Lukas Eiermann, Alison Chambliss, Lingshuang Chen, and Kristin Kinnamon.</p>
