{{!-- <a href="https://play.google.com/store/apps/details?id=com.mobinlife.citydom" target="_blank" class="project-link">Download App</a> --}}

<div class="centered-column">
  <figure>
    <img src="/assets/images/projects/city-domination-banner.png" class="img-responsive" alt="CityDomination's poster"/>
  </figure>

  <p>The world is divided in zones which correspond to real buildings: the university, the city hall and even individual houses. But, it is impossible to win alone, that's why players must cooperate with their gang members. Social interactions are at the basis of the gameplay; it forces users to play with their friends and neighbors.</p>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <figure>
      <img src="/assets/images/projects/city-domination-gang.png" class="img-responsive center-block" alt="CityDomination gang illustration"/>
    </figure>
  </div>
</div>

<div class="section-title">
  <h2><span>Mobile app</span></h2>
</div>

<div class="centered-column">
  <p>I designed everything, from the interaction between screens, to the gameplay graphics. The mobile app is composed of four main sections accessible from the home screen: attack/defend your territory (map), the chat, the gang (team) page, and the store. Although, it was hard to navigate between sections, most use cases were only happening in the same sections, avoiding the need to navigate. You can see below a sample of the mobile wireframes I designed.</p>
</div>

<figure>
  <img src="/assets/images/projects/city-domination-mobile.png" class="img-responsive" alt="Mobile wireframes"/>
  <figcaption>Mockups I created for the mobile app.</figcaption>
</figure>

<div class="section-title">
  <h2><span>Web app</span></h2>
</div>

<div class="centered-column">
  <p>I also designed the web app, which has never been fully developed. Because there is more real estate available on desktop, I was able to organize all sections on the same screen. The map is really the most important aspect of the game. That's why I decided to make it the central part of the app. Additional menus on the sides give contextual information when interacting with the map.</p>
</div>

<figure>
  <div class="browser-frame">
    <img src="/assets/images/projects/city-domination-web.png" alt="Web app"/>
  </div>
</figure>

<div class="centered-column">
  <p>Similar to the mobile app, I grouped related actions in dedicated sections which can be accessed through the navigation bar at the bottom. You can see below a few menus for the different sections:</p>

  <figure>
    <img src="/assets/images/projects/city-domination-web-wireframes.png" class="img-responsive" alt="Web app wireframes"/>
    <figcaption>Elements from the web-app.</figcaption>
  </figure>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <figure>
      <img src="/assets/images/projects/city-domination-phone.png" class="img-responsive center-block" alt="CityDomination phone illustration"/>
    </figure>
  </div>
</div>

<div class="section-title no-margin-top">
  <h2><span>Conclusion</span></h2>
  <p>A Successful Game!</p>
</div>

<div class="centered-column">
  <p>CityDomination gained a lot of success very quickly. A month after launch, we had signed up 1,000 users on the campus only! We were featured in local media: newspapers, radio, and TV!</p>

  <p>I left the project after a year, in December 2012 due to a lack of time and my studies at INSA of Lyon. CityDomination has been acquired by the gaming company <a href="http://mobinlife.com/" target="_blank">Mob In Life</a> and is now one of their most successful game with more than a million downloads. Try it now: <a href="https://play.google.com/store/apps/details?id=com.mobinlife.citydom" target="_blank">Android</a>, <a href="https://itunes.apple.com/fr/app/city-domination-jeu-strategie/id658386865?mt=8" target="_blank">iOS</a>.</p>

  <div class="row">
    <div class="col-sm-6">
      <figure><img src="/assets/images/projects/city-domination-intro.jpg" class="img-responsive" alt="CityDomination's poster"/></figure>
    </div>
    <div class="col-sm-6">
      <figure><img src="/assets/images/projects/city-domination-map.jpg" class="img-responsive" alt="CityDomination's map"/></figure>
    </div>
  </div>
</div>
