{{!-- <a href="https://play.google.com/store/apps/details?id=com.bolloremediadigital.directmatin" target="_blank" class="project-link">Download App</a> --}}

<div class="centered-column">
  <p class="intro">In summer 2012, I interned for 3 months at <a href="http://www.kreactive.com/" target="_blank">Kreactive</a>, a web and mobile agency in Lyon, France. I was in charge of the development of a mobile web app for the national French newspaper <a href="http://www.directmatin.fr/" target="_blank">Direct Matin</a>.</p>
</div>

<img src="/assets/images/projects/direct-matin-app.jpg" class="img-responsive" alt="Direct Matin's iPhone app"/>

<div class="centered-column">
  <p>Kreactive wanted to use the new mobile JavaScript framework Sencha Touch 2, which I had never used before. It was actually fairly easy to learn. The biggest challenge was to adapt the app to all kinds of platforms and devices, ranging from iPads, iPhones, Android tablets and phones! Finally after 3 months we submitted the app on the <a href="https://itunes.apple.com/fr/app/direct-matin/id555661512" target="_blank">AppStore</a> and <a href="https://play.google.com/store/apps/details?id=com.bolloremediadigital.directmatin" target="_blank">Google Play</a>.</p>

  <p>I really enjoyed working on an app which is now used by thousands of people every day to read the news. One day while visiting Paris, I was surprised to see in the subway ads promoting the app!</p>
</div>
