<figure>
  <img src="/assets/images/projects/haiku-deck-ipad.jpg" class="img-responsive" alt="Haiku Deck software"/>
</figure>

<div class="centered-column">
  <p>Haiku Deck is a new presentation software that focuses on offering a fast and fun way to create and share beautiful slideshows online. </p>
</div>

<div class="section-title">
  <h2><span>Scope of the Study</span></h2>
</div>

<div class="centered-column">
  <h3 class="no-margin-top">Goals</h3>
  <p>Our client wanted to understand whether and to what extent the current incarnation of the web app adheres to the <a href="http://www.wqusability.com/articles/getting-started.html" target="_blank">"Five E’s" of usability</a>&mdash;in particular, "easy to use" and "efficient". From there, we came up with five research questions to answer:</p>
  <ol>
    <li>Are new users able to find and use the main functionalities when creating a presentation?</li>
    <li>Is the slideshow creation web app efficient for creating presentations?</li>
    <li>What obstacles do users encounter in the process of creating a deck?</li>
    <li>Are users satisfied by the appearance of the final output?</li>
    <li>Are features easy to learn and re-use?</li>
  </ol>

  <h3>Target User Group</h3>
  <p>According to the company’s market research, the current major user groups of Haiku Deck are students, teachers, real estate agents, bloggers, and business people. Since Haiku Deck’s target user population is so vast, we decided to focus on a subset of their current users: students.</p>
  <p>As students, we were in a better position to quickly and easily recruit student participants, and we also believed they were more likely than professionals to be available to participate in our research given our limited budget.</p>

  <h3>Interaction Map</h3>
  <p>To fully understand the product, we tried it ourselves and as a result created an interaction map. The interaction map represents all actions a user can perform using the software. Creating the map forced us to explore every aspect of the product, and we even ran into hidden features.</p>
</div>

<figure>
  <img src="/assets/images/projects/haiku-deck-map.png" class="img-responsive" alt="Haiku Deck interaction map"/>
</figure>

<div class="section-title">
  <h2><span>Usability Plan</span></h2>
</div>

<div class="columns">
  <h3 class="no-margin-top">Participants</h3>
  <p>Because learnability is an important aspect of using such a software, we created two distinct participant groups: new users and existing users.</p>
  <p>Because Haiku Deck was a new product, we couldn't easily find existing users. Instead, we asked to half of the participants to use Haiku Deck for one of their class presentations before the study.<p>
  </p>We also made sure to recruit participants from different backgrounds (business, engineering, and communication) as it also could impact results. We designed a screening questionnaire to select only qualified participants in the right proportions.</p>

  <h3>Tasks</h3>
  <p>From the research questions and the initial review of the software, we listed specific questions that we wanted to answer, how to collect the data, and evaluate findings.</p>
  <p>Then, we created a list of ten tasks for users to complete. Tasks were part of a larger scenario&mdash;creating a presentation about Seattle for your uncle living in another state. For each task, task completion, and time on task was measured.</p>
  <p>Finally, pre and post study questionnaires, as well as post task questionnaires allowed us to gather more qualitative information about the participant's experience.</p>

  <h3>Test Environment</h3>
  <p>The lab usability sessions took place at the University of Washington using the software Morae to record and monitor each individual one hour session. A member of the team stayed in the room with the participant to moderate the session, and the other team members observed and took time-stamped notes remotely.</p>
</div>

<div class="section-title">
  <h2><span>Usability Testing</span></h2>
  <p>3 days and 8 participants later</p>
</div>

<div class="centered-column">
  <p>During three days, we ran eight lab sessions of one hour each. The first sessions were very interesting as we observed participants struggle achieving tasks we didn't expect them to fail. After a few rounds, we started seeing similarities, but we kept finding important usability issues.</p>

  <figure>
    <img src="/assets/images/projects/haiku-deck-testing.gif" class="img-responsive" alt="Haiku Deck usability test session"/>
    <figcaption>An example usability session.</figcaption>
  </figure>

</div>

<div class="section-title">
  <h2><span>Findings</span></h2>
  <p>48 findings, 14 severe issues</p>
</div>

<div class="centered-column">
  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/images/projects/haiku-deck-results.png" class="img-responsive no-margin-top" alt="Haiku Deck task statistics"/>
    </div>
    <div class="col-sm-6">
      <p>We analyzed a plethora of data, including: hours of videos, responses to questionnaires, task metrics, and notes.</p>
      <p>We delivered to our client a list of 48 actionable findings that we prioritized by severity, and scope. For the 14 most important findings, we also gave detailed descriptions and recommendations on how to solve the issues.</p>
    </div>
  </div>
</div>
