<p class="intro"><a href="https://labello.herokuapp.com" target="_blank">Labello</a> is a web app for labelling and analyzing documents. For a Qualitative User Research course at the University of Washington, I needed an effective tool to analyze lengthy transcribed interviews. I couldn't find an easy way to do it, so I developed Labello in just a few nights!</p>

<p>I couldn't have been faster without using the JavaScript framework EmberJS. There is no database, everything is stored in the user's browser local storage. But it's possible to import and export files from a different computer! The code is available on <a href="https://github.com/JordanVincent/labello" target="_blank">Github</a>.</p>

<p>Using Labello is very intuitive. Just copy and past the text you want to analyze, and start labelling by selecting parts of the text. Organize labels by theme, and make connections between different documents at once!</p>

<img src="assets/images/projects/labello-document.png" class="img-responsive raised" alt="Labello"/>

<p>Not only it permitted me to analyze numerous documents, it was also used by my classmates during the quarter.</p>
