{{!-- <a href="https://labello.herokuapp.com" target="_blank" class="project-link">Live Demo</a> --}}

<div class="centered-column">
  <p>Using Labello is very intuitive. Just copy and past the text you want to analyze, and start labelling by selecting parts of the text. That's all!</p>
</div>

<figure class="browser">
  <img src="/assets/images/projects/labello-document.gif" alt="Labello interface"/>
</figure>

<div class="centered-column">
  <p>After labelling, organize labels by theme and make connections between different documents at once:</p>
</div>

<figure class="browser">
  <img src="/assets/images/projects/labello-labels.png" alt="Labello interface"/>
</figure>

<div class="section-title">
  <h2><span>Implementation</span></h2>
</div>

<div class="centered-column">
  <p>I couldn't have been faster without using the JavaScript framework EmberJS. There is no database, everything is stored in the user's browser local storage. But it's possible to import and export files from a different computer! The code is available on <a href="https://github.com/JordanVincent/labello" target="_blank">GitHub</a>.</p>

  <p>Not only it permitted me to analyze numerous documents, it was also used by my classmates during the quarter.</p>
</div>
