<p class="intro"><a href="https://angel.co/sixdoors" target="_blank">SixDoors</a> is an iOS app which allowed customers to shop from local stores and be delivered the same day. It was my first experience working for a startup.</p>

<div class="section-title">
  <h2>My Role</h2>
</div>

<p>I stopped my studies at INSA of Lyon one year to follow my dreams and work for a San Francisco's startup! I joined the startup a few months before launch and left a year later. I was responsible for developing and maintaining SixDoors web apps, including:</p>

<div class="row">
  <div class="col-sm-4">
    <img src="assets/images/projects/sixdoors-mac.png" class="img-responsive center-block" style="width: 100px;"/>
    <h3>SixDoors.com</h3>
    <p>SixDoors's webstore. It drove more than 50% of SixDoors sales. I developed every page from the product details, to the order flow! Built in EmberJS.</p>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/projects/sixdoors-shop.png" class="img-responsive center-block" style="width: 100px;"/>
    <h3>Sellers' backoffice</h3>
    <p>The web app used by sellers to list products, manage their account, track and create orders. It was first developed with EmberJS and rewrote later in AngularJS.</p>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/projects/sixdoors-truck.png" class="img-responsive center-block" style="width: 100px;"/>
    <h3>Courier mobile app</h3>
    <p>The mobile web app used by the SixDoors couriers around the city to deliver products as fast as possible! It was first developed with Sencha Touch 2 and then EmberJS and Ratchet.</p>
  </div>
</div>

<img src="assets/images/projects/sixdoors-webstore.jpg" class="img-responsive"/>

<h3>SixDoors-Shopify connector</h3>
<p>Since a lot of our partner stores where using Shopify to manage their inventory, we integrated Shopify. It allowed stores to connect their Shopify account to SixDoors and automatically synchronize their inventory. I developed the server side with Ruby on Rails and the client app using AngularJS.</p>

<img src="assets/images/projects/sixdoors-cover.jpg" class="img-responsive"/>

<div class="section-title">
  <h2>The Startup Experience</h2>
  <p>It was tough, but I loved it!</p>
</div>

<p>It was amazing! I learned more in a year than in four year of college. When I arrived, there was nothing, everything had to be developed from scratch and in a very short time. I had to learn two new JavaScript frameworks: EmberJS and AngularJS, a new syntax: CoffeeScript, a new language: Ruby on Rails, and to deal with various APIs. My friend and coleague <a href="https://github.com/johanneswuerbach" target="_blank" >Johannes Wuerbach</a> told me everything he knew about development.</p>

<p>But it's only a small part of the story. Because we were only six people, we had to do everything by ourselves. Meaning, running accross the city to deliver items customers ordered, answering customers, coaching our partners, promoting the brand, etc. </p>