{{!-- <a href="https://angel.co/sixdoors" target="_blank">SixDoors</a> --}}

<div class="centered-column">
  <p>I stopped my studies at INSA of Lyon for one year to follow my dreams and work for a San Francisco's startup! I joined the startup a few months before launch and left a year later. I was responsible for developing and maintaining SixDoors's web apps, including:</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <img src="/assets/images/projects/sixdoors-mac.png" class="img-responsive center-block" style="width: 100px;" alt="SixDoors.com icon"/>
    <h3>SixDoors.com</h3>
    <p>SixDoors's webstore. It drove more than 50% of SixDoors sales. I developed every page from the product details, to the order flow! Built in EmberJS.</p>
  </div>
  <div class="col-sm-4">
    <img src="/assets/images/projects/sixdoors-shop.png" class="img-responsive center-block" style="width: 100px;" alt="Sellers' back office icon"/>
    <h3>Sellers' back office</h3>
    <p>The web app used by sellers to list products, manage their account, track, and create orders. It was first developed with EmberJS and rewrote later in AngularJS.</p>
  </div>
  <div class="col-sm-4">
    <img src="/assets/images/projects/sixdoors-truck.png" class="img-responsive center-block" style="width: 100px;" alt="Courier mobile app icon"/>
    <h3>Courier mobile app</h3>
    <p>The mobile web app used by the SixDoors couriers around the city to deliver products as fast as possible! It was first developed with Sencha Touch 2 and then using EmberJS and Ratchet.</p>
  </div>
</div>

<img src="/assets/images/projects/sixdoors-webstore.jpg" class="img-responsive" alt="SixDoors webstore"/>

<img src="/assets/images/projects/sixdoors-delivery.jpg" class="img-responsive" alt="SixDoors delivery"/>

<div class="section-title">
  <h2>The Startup Experience</h2>
  <p>It was tough, but I loved it!</p>
</div>

<div class="centered-column">
  <p>It was amazing! I learned more in a year than in four year of college. When I arrived, there was nothing, everything had to be developed from scratch and in a very short time. I had to learn two new JavaScript frameworks: EmberJS and AngularJS, a new syntax: CoffeeScript, a new language: Ruby on Rails, and to deal with various APIs. My friend and colleague <a href="https://github.com/johanneswuerbach" target="_blank" >Johannes Wuerbach</a> told me everything he knew about development.</p>
  <p>But it's only a small part of the story. Because we were only six people, we had to do everything by ourselves. Meaning, running across the city to deliver items customers ordered, answering customers, coaching our partners, promoting the brand, etc. </p>
</div>
