{{!-- <a href="http://www.smart-bricks.com" target="_blank" class="project-link">Visit Website</a> --}}

<div class="centered-column">
  <p>As a LEGO fan, I realized that there is actually a large LEGO adult community. They spend their time building LEGO models, writing blogs, and meeting up during large events all over the world. Some of them have a real talent in building with LEGO bricks. Their creations are admired by their fans. And that's how I created Smart Bricks!</p>
</div>

<div class="section-title">
  <h2><span>The Concept</span></h2>
  <p>Connecting artists and fans</p>
</div>

<div class="centered-column">
  <p>The original idea was to create an online store where artists could share and sell their creation to the community. Fans could buy sets and build replicas, like any official LEGO sets. In order to recruit artists, I didn't require any extra work from the creator. All they had to do is license their model, and I would replicate it, create building instruction, buy the necessary bricks, package everything, and sell the sets on my website!</p>

  <figure>
    <img src="/assets/images/projects/smart-bricks-concept.jpg" class="img-responsive" alt="Smart Bricks' concept"/>
  </figure>
</div>

<div class="section-title">
  <h2><span>The Magic House</span></h2>
  <p>SmartBricks's First Product</p>
</div>

<div class="centered-column">
  <p>I reached out to artists in order to license and sell their creations. I signed an agreement with the Spanish artist Ricardo Valero, widely known as <a href="http://www.smart-bricks.com/?p=132" target="_blank">Valgarise</a>. His work is astonishing, look for yourself:</p>

  <figure>
    <img src="/assets/images/projects/smart-bricks-house.jpg" class="img-responsive" alt="Smart Bricks' Magic House"/>
  </figure>
</div>

<div class="centered-column">
  <p>We decided to start with one of its best creation: The Magic House. This model is a beautiful 2,000 pieces Victorian house, home of an intriguing magician. When peeking through the windows the visitor can see a strange magic shop filled with secrets.</p>
  <p>The rear side is open to unveil the apartments of a charming lady. The elegant furniture include a piano, a sofa, a bookshelf, and more.</p>
  <p>LEGO fans can now order the house on the website. The product is delivered with all the pieces, a booklet containing the building instructions, all in a nice package, like any official LEGO sets.</p>
</div>

<div class="section-title">
  <h2><span>Learnings</span></h2>
  <p>How I ordered 20,000 LEGO bricks!</p>
</div>

<div class="centered-column">
  <p>It was my first time completing such a large project, stretching from the initial idea, all the way to an actual product ready to be shipped! I created the 3D model using the 3D software Blender. After creating each individual LEGO brick, I built a digital model step by step to create the instruction.</p>
</div>

<figure>
  <img src="/assets/images/projects/smart-bricks-instructions.jpg" class="img-responsive" alt="Magic house building instructions"/>
</figure>

<div class="centered-column">
  <p>The resulting building instructions is a 44 pages booklet that is easy to follow. Then, I ordered all the LEGO parts needed to build the first 10 models. Meaning, I bought nearly 20,000 pieces! After I received all the pieces that I ordered around the world (some pieces where very hard to get), I packaged everything, setup the online store, and waited. And waited... The irony is that I never sold any set!</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <figure>
      <img src="/assets/images/projects/smart-bricks-package.jpg" class="img-responsive" alt="Magic house package"/>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <img src="/assets/images/projects/smart-bricks-booklet.jpg" class="img-responsive" alt="Magic house booklet"/>
    </figure>
  </div>
  <div class="col-sm-4">
    <figure>
      <img src="/assets/images/projects/smart-bricks-booklet-open.jpg" class="img-responsive" alt="Magic house booklet open"/>
    </figure>
  </div>
</div>

<div class="centered-column">
  <p>When I think back, it makes me laugh! If I had to start again, I would do everything differently. First, reaching out to potential customers to validate the idea and the market size; and second, use a lean approach to reduce risks by starting with a small product, as a proof of concept.</p>
</div>
