<p class="intro"><a href="http://startupviz.com/" target="_blank">StartupViz</a> is an interactive visualization of US startup universe. Using the CrunchBase dataset, StartupViz allows you to make your own discoveries. You can explore everything from general trends in certain sectors or regions to funding round details for a particular startup.</p>

<img src="assets/images/projects/startupviz-map.jpg" class="img-responsive" alt="StartupViz website"/>

<p>The design was tested repeatedly through user testing sessions at the UW Business School and Startup Hall. Feedbacks from users were very positive:</p>

<q>Normally I have to google competitors or look through all individual entries in Crunchbase to find startups that are similar to ours. Once we even bought a report that contained similar information for around $4000. Seeing how much funding these companies got in their investment rounds can help us to ask for the right amount from our investors.  I would definitely use this tool and pay for it! Probably not $4000, but I would pay for it.</q>
<p class="quote-author">&ndash; Greg Robinson, CEO at Wovn Energy</p>

<p>The tool was designed to provide a more user-friendly way to understand and analyze such a comprehensive dataset.</p>