$article-width: 1080px;
$link-color: blue;
$screen-sm-min: 768px;

.project-article {
  margin-top: 60px;
  padding-bottom: 60px;

  b {
    font-weight: 600;
  }

  h3 {
    font-size: 22px;
    margin: 30px 0 5px 0;
  }

  q {
    margin: 30px 0 15px 0;
    display: block;
  }

  .quote-author {
    text-align: right;
    margin-bottom: 30px;
  }

  a {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
      color: #337ab7;
    }

    &:hover {
      border-bottom: 2px solid $link-color;
    }
  }
}
