$article-width: 1080px;
$link-color: blue;
$screen-sm-min: 768px;

.project-article {
  margin-top: 60px;
  padding-bottom: 60px;

  .hero-image {
    position: relative;
    margin-top: -60px;
    margin-bottom: 60px;

    .backdrop {
      position: absolute;
      left: calc((-100vw + #{$article-width}) / 2);
      top: 0;
      width: 100vw;
      z-index: -1;
      height: 50%;
    }
  }

  .img-responsive {
    max-width: 100%;
    display: block;
  }

  b {
    font-weight: 600;
  }

  h3 {
    font-size: 22px;
    margin: 30px 0 5px 0;
  }

  .centered-column {
    width: 60%;
    margin: 0 20%;
  }

  q {
    margin: 30px 0 15px 0;
    display: block;
  }

  .quote-author {
    text-align: right;
    margin-bottom: 30px;
  }

  a {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
      color: #337ab7;
    }

    &:hover {
      border-bottom: 2px solid $link-color;
    }
  }

  .adminca-graph-wrapper {
    position: relative;
    height: 380px;

    img {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  @media (max-width: $screen-sm-min) {
    .centered-column {
      width: 100%;
      margin: 0;
    }

    .hero-image {
      .backdrop {
        left: -20px;
      }
    }
  }
}
