<div class="container case-study">

  <p class="intro"><a href="https://play.google.com/store/apps/details?id=com.mobinlife.citydom" target="_blank">CityDomination</a> is a mobile geolocated game. Use your smartphone to conquer the largest part of your city, the real city!</p>

  <p>The world is divided in zones which correspond to real buildings: your university, the city hall and even your house. But, it's impossible to win alone, that's why you must cooperate with your gang members. Social interactions are at the basis of the gameplay, you can play with your friends and neighbors.</p>

  <div class="row">
    <div class="col-sm-6"><img src="assets/images/projects/citydomination-intro.jpg" class="img-responsive" alt="CityDomination's poster"/></div>
    <div class="col-sm-6"><img src="assets/images/projects/citydomination-map.jpg" class="img-responsive" alt="CityDomination's map"/></div>
  </div>

  <div class="section-title">
    <h2>My Role</h2>
  </div>

  <p>I was one of the four original founders. I participated in all the project phases, from the idea, to the launching. I was responsible for the gameplay, the graphics and all the front-end part, that is to say the website and the webapp. I used the JavaScript framework Sencha Touch 2 to quickly build a maintainable iPhone webapp. Moreover, I helped to develop the server part which is based on the PHP framework Symfony 2. We used a REST architecture and developed our own API to communicate with our multiple apps: the website, the webapp, and the Android app.
  </p>

  <p>I left the project after a year, in December 2012 due to a lack of time and my studies at INSA of Lyon. CityDomination has been acquired by the gaming company <a href="http://mobinlife.com/" target="_blank">Mob In Life</a> and is now one of their most successful game.</p>
</div>