<div class="container case-study">

  <p class="intro"><a href="http://www.getdinofit.com/" target="_blank">DinoFit</a> is a fitness app which keeps users motivated. It incorporates gaming concepts such as challenges, levels and points. Training plans are generated automatically based on the user’s feedbacks and previous workouts. It will soon be available on Android!</p>

  <img src="assets/images/projects/dinofit-items.png" class="img-responsive" alt="DinoFit Items"/>

  <div class="section-title">
    <h2>Core Concepts</h2>
    <p>Improving engagement</p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Challenges &amp; Rewards</h3>
      <p>Workouts have different level of difficulty. In the beginning it’s fairly simple, but it gets harder as time goes!</p>
      <p>On the flip side, the more difficult the workout, the more points they get; which will help them attain the end goal quicker.</p>
    </div>
    <div class="col-sm-4">
      <h3>A Tailored Experience</h3>
      <p>Not everyone is the same, and DinoFit knows it. In the beginning, a short test evaluates the user’s strength to propose adapted trainings.</p>
      <p>After each training, depending on the user feedback, the app generates harder or easier workouts!</p>
    </div>
    <div class="col-sm-4">
      <h3>The End Goal</h3>
      <p>There is nothing better to stay motivated than a clear goal. The app shows the user’s progress at any moment and how to attain the goal.</p>
      <p>The game includes 3 difficulty levels, for novices to experts.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <img src="assets/images/projects/dinofit-water.png" class="img-responsive" alt="DinoFit illustration"/>
    </div>
  </div>

  <div class="section-title">
    <h2>A delightful experience</h2>
    <p>Details matter</p>
  </div>

  <div class="row">
    <div class="col-sm-4"><img src="assets/images/projects/dinofit-onboarding.gif" class="img-responsive" alt="DinoFit onboarding flow"/></div>
    <div class="col-sm-8">
      <h3>Onboarding</h3>
      <p>Studies have shown that most people downloading an app uninstall it in the next 10 seconds. Thus, engaging users starts from the moment they open it for the first time. The first impression is the most important.</p>
      <p>The onboarding flow in DinoFit, walk the user through the core concepts of the app.</p>
      <p>At the end of the introduction, the app prompts the user to test their level by doing a quick push-ups test. It gives the opportunity to the user to try the app right away! However, this last step is optional and can be completed later.</p>

      <h3>Storyline</h3>
      <p>To keep the onboarding experience engaging, it is built around a strong storyline. A Dinosaur’s village is frightened by a volcano. What can they do to save their village? That’s were the main character (the user) can avoid the cataclysm by pumping water (doing pushups) regularly.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/projects/dinofit-progress.gif" class="img-responsive" alt="DinoFit water animation"/>
      <img src="assets/images/projects/dinofit-volcano.gif" class="img-responsive" alt="DinoFit volcano animation"/>
    </div>
    <div class="col-sm-8">
      <h3>Illustrations</h3>
      <p>DinoFit was built from the ground up as a game. Working out is generally not a pleasant thing. On each screen, the app features illustrations and live effects to make the story more delightful.</p>
      <p>In contrast to all other fitness apps, I used humor to create a light atmosphere.</p>
      <p>It took a lot of time creating illustrations and effects but I am very satisfied with the result.</p>

      <h3>Live Animations</h3>
      <p>The app features a few live animations. Like illustrations, animations are delightful experiences that make using the app enjoying.</p>
      <p>But the main reason for using animations is to provide direct feedback on the users’ actions. For instance, when doing push-ups, the water level indicates the current progress. During rest periods, the water lever gradually goes down to zero, again showing progress.</p>
      <p> It’s also a way to bring back gameplay concepts. While doing pushups the user metaphorically pumps water, and then dumps it during rest periods!</p>
      <p>The other live animation is the fumes coming out of the volcano on the main screen. The fumes shows how active the volcano is. If the user didn’t open the app in a while, there will be more fumes, indicating it’s time to exercise before the volcano erupts! Conversely, the closer the user is from its goal, the less fumes there are.</p>

    </div>
  </div>

  <div class="section-title">
    <h2>Development</h2>
  </div>

  <div class="centered-column">
    <p>I always wanted to create an Android app. I started thinking about the concept in June 2014. After sketching many gameplay ideas and interactions, I started developing a first version in about 3 months. A developed a Ruby on Rails server to store user’s workouts and generate new workouts every day. The app and the server would communicate through an API.</p>
    <p>It worked very well, but I also became very busy with school around that time, entering at the University of Washington.</p>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/projects/dinofit-dino1.jpg" class="img-responsive raised" />
    </div>
    <div class="col-sm-4">
      <img src="assets/images/projects/dinofit-dino2.jpg" class="img-responsive raised" />
    </div>
    <div class="col-sm-4">
      <img src="assets/images/projects/dinofit-dino3.jpg" class="img-responsive raised" />
    </div>
  </div>

  <div class="centered-column">
    <p>Around April 2015, I started the project again but from scratch, learning from my first experience. I spent a month creating a high fidelity prototype of the app, and then another month developing the app. I ditched the server and managed to generate workouts on the phone directly. Because there is no need to wait for any server, it is more responsive than ever.</p>
    <p>The app is currently in closed beta. However, I have started many other projects and I didn’t have the time to release it yet, although it’s ready to launch. So stay posted!</p>
  </div>

</div>
