<div class="container case-study">

  <p class="intro">In summer 2012, I interned for 3 months at <a href="http://www.kreactive.com/" target="_blank">Kreactive</a>, a web and mobile agency in Lyon, France. I was in charge of the development of a mobile web app for the national French newspaper Direct Matin.</p>

  <img src="assets/images/projects/direct-matin-iphone.jpg" class="img-responsive" alt="Direct Matin's iPhone app"/>

  <p>Kreactive wanted to use the new mobile JavaScript framework Sencha Touch 2, which I never been used before. It was actually fairly easy to learn. The biggest challenge was to adapt the app to all kind platforms and devices, ranging from iPads, iPhones, Android tablets and phones! Finally after 3 months we submitted the app on the <a href="https://itunes.apple.com/fr/app/direct-matin/id555661512" target="_blank">AppStore</a> and <a href="https://play.google.com/store/apps/details?id=com.bolloremediadigital.directmatin" target="_blank">Google Play</a>.</p>

  <p>I really enjoyed working on an app which is now used by thousands of people every day. Visiting Paris, I was surprised to see in the subway ads promoting the app!</p>
</div>