<div class="container case-study">

  <p class="intro"><a href="https://chrome.google.com/webstore/detail/veritabs/nehjgjnfanppoiaikadimdkobpdahnmg" target="_blank">Veritabs</a> is a Chrome extension for displaying tabs vertically.</p>

  <p>In Google Chrome, when you have too much tabs opened at a time, you can't see the tabs' title or even the icon. With Veritabs, the tabs are displayed vertically, so you can always see the name. It makes it easy organize, delete and create new tabs. It was developed using AngularJS and the Google Chrome API.</p>

  <img src="assets/images/projects/veritabs-bar.png" class="img-responsive" alt="Veritabs extension"/>

  <p>At its peak the extension reached 30 000 active users. It has been reviewed by many tech websites like <a href="http://www.cnet.com/how-to/view-chrome-tabs-in-a-vertical-list-with-veritabs/" target="_blank">CNET</a>, <a href="http://www.pcworld.com/article/2048242/organize-your-chrome-tabs-vertically-with-veritabs.html" target="_blank">PCWorld</a> or <a href="http://www.addictivetips.com/web/veritabs-manage-chrome-tabs-from-vertical-sidebar/" target="_blank">Addictive Tips</a>.</p>

  <q>One reason this extension is great is because it allows you to work in full-screen mode, and still have access to the tabs you open. Normally, you'd either have to exit full screen and switch tabs, or use the keyboard shortcuts (great if you only have 8 tabs open, not great when you have 20). Let's face it, when you have more than 20 or more tabs, cycling through all of them can be quite silly.</q>
  <p class="quote-author">&ndash; CNET.com</p>

</div>