<div class="container case-study">

  <p class="intro">Visual Communication (HCDE 508) gives an introduction to the visual elements of design, organizational principles of composition, and effective and meaningful communication. It was one of my favorite class at the University of Washington. Here are some of my assignments.</p>

  <div class="section-title">
    <h2>Text as Image</h2>
    <p>Week 3</p>
  </div>

  <h3>Assignment</h3>
  <p>Create a typogram—a single graphical element created from the combination of letters—from words given in class. This assignment will continue to explore the relationship between form and meaning as well as examine the differences and similarities in typefaces and individual letterforms. This is often the building blocks for logos, branding and communication materials.</p>

  <h3>Requirements</h3>
  <p>You may vary size, spacing, placement and orientation of letters. You can repeat, omit, slice, block or overlap the letters. Your solutions should feel typographic; the letterforms should not be altered to the point where they become drawings or representations of the word. Create contrast through scale, weight, posture and case changes. Consider the entire composition. How can placement reinforce the meaning of the word—emotion through composition? Create a 4x4 inch box for your composition.</p>

  <h3>Submission</h3>
  <p>I came up with the following typograms. After a few hours of work, I am not entirely satisfied.</p>

  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/projects/visual-communication-bundle.png" class="img-responsive raised" />
      <p>Bundle-ception</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/images/projects/visual-communication-repeat.png" class="img-responsive raised" />
      <p>Repeat, eat, eat...</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/images/projects/visual-communication-inflate.png" class="img-responsive raised" />
      <p>It could explode!</p>
    </div>
  </div>

  <div class="section-title">
    <h2>Type &amp; Image</h2>
    <p>Week 6</p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <img src="assets/images/projects/visual-communication-space.jpg" class="img-responsive">
    </div>
    <div class="col-sm-4">
      <h3>Assignment</h3>
      <p>The use of typography and image can create powerful communication in both visual and written form. Type and image can support one another or pose two sides of a dialogue. For this assignment you will be creating a poster for a lecture on space exploration at the Museum of Flight.</p>

      <h3>Requirements</h3>
      <p>You will use the principles of combining type and image to create a poster for an upcoming Museum of Flight lecture. Consider how can you enhance the concept of exploration through color, composition and typography. Text will be viewed at a distance, so use scale appropriately.</p>

      <h3>Submission</h3>
      <p>Inspired by the movie Gravity, I wanted to show the black void of space. Here, exploration means no return.</p>
    </div>
  </div>

  <div class="section-title">
    <h2>Iconograpghy</h2>
    <p>Week 7</p>
  </div>

  <h3>Assignment</h3>
  <p>Write down an item you can buy at the grocery store (milk, toothpaste). On a separate piece of paper, write down the name of an animal. Now create a logo or icon for this product using the animal.</p>

  <h3>Submission</h3>
  <p>I was given "anglerfish" and "apple". Disapointed at first, those two things can be combined in a lot of ways. The anglerfish is a very scary animal, equiped with a bait. I decided to play with those two attributes.</p>

  <div class="row">
    <div class="col-sm-6">
      <img src="assets/images/projects/visual-communication-v1.png" class="img-responsive raised" />
      <p>The bait of that anglerfish has been replaced by an apple. Is the fish chassing its own bait?</p>
    </div>
    <div class="col-sm-6">
      <img src="assets/images/projects/visual-communication-v2.png" class="img-responsive raised" />
      <p>A more iconic version. Thick black lines, simple shapes, and saturated colors. Would you eat that apple?</p>
    </div>
  </div>

</div>