.Index\/FeaturedProject {
  width: var(--column-width);

  &__title {
    font-family: var(--monospace-font-family);
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 32px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__image {
    width: 100%;
  }
}
