.Index\/OtherProject {
  width: var(--column-width);

  &__title {
    font-size: 18px;
  }

  &__subtitle {
    opacity: 0.7;
  }

  &__cover {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
}
