.Index\/ProfessionalRole {
  display: flex;
  align-items: center;
  padding-top: 16px;
  position: relative;

  &::before {
    content: '';
    width: 32px;
    height: 3px;
    background-color: #063155;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__logo {
    width: 32px;
  }

  &__company-name {
    font-size: 22px;
    font-family: var(--monospace-font-family);
    font-size: 18px;
  }

  &__duration {
    font-weight: normal;
    margin-left: 12px;
    font-size: 16px;
    position: relative;
    top: 2px;
  }
}
