.Index\/ProfessionalProject {
  display: flex;

  &__cover {
    width: calc(var(--column-width) * 2 + var(--gutter));
    flex: 0 0 auto;
  }

  &__details {
    width: var(--column-width);
    margin-left: var(--gutter);
    flex: 0 0 auto;
    line-height: 22px;
  }

  &__title {
    font-weight: 500;
  }

  &__description {
    opacity: 0.7;
  }
}
