.Index\/ProfessionalProject {
  display: flex;

  &__cover {
    width: calc(250px * 2 + 25px);
    flex: 0 0 auto;
  }

  &__details {
    width: 250px;
    margin-right: 25px;
    flex: 0 0 auto;
  }

  &__title {
    font-family: var(--monospace-font-family);
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__subtitle {
    line-height: 22px;
    opacity: 0.7;
  }
}
