<div class="content-container" id="about">


  <div class="centered-column">

    <div class="side-column">
      <img src="/assets/images/profile-picture.png" alt="Jordan Vincent" />
      {{nav-menu}}
    </div>

    <article>
      <h1>Hi, I'm Jordan Vincent</h1>

      <p>I'm a builder. Young, I wanted to become a renowned architect; building grandiose museums, bridges or skyscrapers. Every Christmas I would get LEGO sets. I’d spend hours carefully assembling the pieces together. Then I grew. It took me a long time to realize that you don't need to be an architect to build, everyone can! Mechanical engineers, chemists, computer scientists spend their time improving our lives. There was something different with computer science though. Things were moving fast, people were creating, failing, innovating!  I had sworn to my father that I wouldn't end up like him, a “programmer”<sup><a href="#ftn1">1</a></sup>. At his great disappointment I became a programmer, and I started a <b>Master in Computer Science at INSA of Lyon.</b></p>

      <p>If silica is the new gold, once again California is the eldorado. Some folks had created those “startups” and developed amazing technologies. Something fascinated me. And before finishing my degree, <b>I moved to San Francisco and worked with amazing people, helped to launch SixDoors, a mobile ecommerce startup.</b> I learned more about life in one year, than after 4 years in school. Somedays, I had to leave my desk, rent a car, and deliver products by myself, because we didn't have couriers. Other days, I was sent at the other side of the city to help a shop owner with our (buggy?) software. It was hard but I was living the dream. San Francisco became more than a city for me, it’s now a part of myself.</p>

      <p>After one year in SF I had to go back to school. The idea of leaving the US haunted me. Instead, I managed to start a <b>Master in Human-Centered Design &amp; Engineering (HCDE) at University of Washington, Seattle.</b> You have no idea what it is? I had no idea, either. But from my experience at SixDoors I learned one important thing: building software is actually a little about writing code and a lot about understanding the user. This program could help me broaden my thinking. And thus I came back to school, but in the US that time.</p>

      <p>There is something great about school: you have time to learn, read and reflect. I've developed the sense that technology in itself is useless. Technology is a tool humans have created to help them accomplish greater things. And it’s only the beginning. We have the power to increase our capabilities even more by taking advantage of a technology serving humans.</p>

      <p>I’m {{age}}. I've dreams, but a great dose of passion and dedication. I want to make an impact.</p>
    </article>

    <div class="footnotes">
      <span id="ftn1"><sup>1</sup> He was actually using the words "pisseur de lignes", which can be translated to "lines pisser", refering to those French IT companies employing coders the same way they would hire factory workers.</span>
    </div>

    {{nav-inline}}

  </div>
</div>