<div id="about">

  {{#hero-image title="Hi, I'm Jordan!" image="assets/images/home-bg.png"}}
    <img class="me" src="assets/images/me.png"/>
    <ul class="tagline">
      <li>UX Designer</li><br>
      <li>Software Developer</li><br>
      <li>Aspiring Entrepreneur</li>
    </ul>
  {{/hero-image}}

  <section class="main-section">

    <div class="container">

      <article>

        <div class="lead"><b>I am a builder.</b> When I was young, I wanted to become a renowned architect: building grandiose museums, bridges or skyscrapers. Every Christmas I would get LEGO sets and spend hours carefully assembling the pieces together.</div>

        <aside class="quote hidden-xs">
          <div class="inner">At his great disappointment I became a programmer</div>
        </aside>

        <div class="text">
          <p>Then I grew up. It took me a long time to realize that you don’t need to be an architect to build, everyone can! Mechanical engineers, chemists and designers all spend their time improving our lives. There was something different with computer science though. Things were moving fast, people were creating, failing, and innovating! I had sworn to my father that I wouldn’t end up like him, a “programmer”. At his great disappointment I became a programmer, and I started a Master in Computer Science at INSA of Lyon.</p>
        </div>

        <aside class="quote visible-xs">
          <div class="inner">At his great disappointment I became a programmer</div>
        </aside>

        <div class="text">
          <p>If silica is the new gold, once again California is an Eldorado. Some folks had created “startups” and developed amazing technologies. Something fascinated me. And before finishing my degree, I moved to San Francisco and worked with amazing people, helping them to launch SixDoors, a mobile ecommerce startup.There, I learned more about life in one year, than after 4 years in school. Some days, I had to leave my desk, rent a car, and deliver products by myself, because we didn’t have couriers. Other days, I was sent at the other side of the city to help a shop owner with our (buggy?) software. It was hard but I was living the dream. San Francisco became more than a city for me, it’s now a part of myself.</p>
        </div>

        <aside class="quote">
          <div class="inner">The idea of leaving the U.S. haunted me</div>
        </aside>

        <div class="text">
          <p>After one year in SF I had to go back to school. The idea of leaving the U.S. haunted me. Instead, I managed to start a Master in Human-Centered Design &amp; Engineering (HCDE) at University of Washington, Seattle. You have no idea what it is? I had no idea, either! But from my experience at SixDoors I learned one important thing: building software is actually a little about writing code and a lot about understanding the user. This program could help me broaden my thinking. And thus I came back to school, but in the U.S. this time.</p>

          <p>There is something great about school: you have time to learn, read and reflect. I’ve developed the sense that technology in itself is useless. Technology is a tool humans have created to help them accomplish greater things. And it’s only the beginning.</p>

          <p>I’m {{age}}. I have dreams, but a great dose of passion and dedication. I want to make an impact.</p>
        </div>

      </article>

    </div>

  </section>
</div>
