<div id="about">

  {{#hero-image title="Hi, I'm Jordan!" image="assets/images/home-bg.jpg" large=true}}
    <img class="me" src="assets/images/me.png"/>
    <ul class="tagline">
      <li>UX Designer</li><br>
      <li>Software Developer</li><br>
      <li>Aspiring Entrepreneur</li>
    </ul>
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>

        <div class="lead">I have a burning desire to solve problems and build things. I developed skills in Development and Design&mdash;not as an end&mdash;but merely as tools to help me achieve my goals. I worked at many startups companies, and started a few ones.</div>

        <aside class="hidden-xs">
          <div class="inner">At his great disappointment I became a programmer</div>
        </aside>

        <div class="text">
          <p>I grew up in the beautiful city of Lyon, France. Very early, I wanted to build things. I was a fan of LEGO ({{#link-to 'project' 'smart-bricks'}}I even designed a set{{/link-to}}) and I believed I wanted to become an architect. It took me a long time to realize that you don’t need to be an architect to build things, everyone can. There was something different with software though. Things were moving fast, people were creating, failing, and innovating! I had sworn to my father that I would not end up like him, a “programmer”. At his great disappointment, I became a programmer, and I started a Master in Computer Science at INSA of Lyon.</p>
        </div>

        <aside class="visible-xs">
          <div class="inner">At his great disappointment I became a programmer</div>
        </aside>

        <div class="text">
          <p>If silica is the new gold, once again California is the Eldorado. Some folks had created “startups” and developed amazing technologies. Something fascinated me. And before finishing my degree, I moved to San Francisco where I worked with amazing people, {{#link-to 'project' 'sixdoors'}}helping them launch SixDoors{{/link-to}}, a mobile ecommerce startup. There, I learned more about life in a year, than after four years in school. Some days, I had to leave my desk, rent a car, and deliver products by myself because we didn’t have couriers. Other days, I was sent at the other side of the city to help a shop owner with our (buggy?) software. It was hard but I was living the dream.</p>
        </div>

        <aside>
          <div class="inner">Building software is actually a little about writing code</div>
        </aside>

        <div class="text">
          <p>After one year in SF, I had to go back to school. The idea of leaving the U.S. haunted me. Instead, I managed to start a Master in Human-Centered Design &amp; Engineering (HCDE) at the University of Washington, Seattle. From my experience at SixDoors, I learned one important thing: building software is actually a little about writing code and a lot more about understanding people, their needs and motivations. During my Master, I learned a new philosophy, a more Humane way of solving problems.</p>

          <p>I recently worked as a UX Designer for the fast growing cloud company BitTitan. I helped them integrate User-Centered Design methods to their development process. {{#link-to 'project' 'bittitan-ux'}}My impact at BitTitan went above my expectations{{/link-to}}. I influenced upper management, and helped the development team understand user goals. As a consequence, we hired two new Designers before I left.</p>

          <p>I have a clear passion for product design, I am great at it, and the world needs it! I am {{age}}, and I have ambition; what can I do for you?</p>
        </div>

      </article>

    </div>

  </section>
</div>
