<div id="application">
  {{nav-responsive}}

  {{liquid-outlet}}

  <div class="container">
    {{projects-list projects=model}}
  </div>

  <footer>
    <img class="footer-image" src="assets/images/footer-bg.jpg">
  </footer>
</div>