<div class="content-container" id="contact">

  <div class="centered-column">

    <div class="side-column">
      {{nav-menu}}
    </div>

    <h1>Contact</h1>

    <p>Email me at <a href="mailto:jordanv1@uw.edu">jordanv1@uw.edu</a><br>
    Add me on <a href="https://www.linkedin.com/in/jordanvinc">Linkedin</a><br>
    Star me on <a href="https://github.com/JordanVincent">Github</a></p>


    {{nav-inline}}

  </div>
</div>

