<div id="contact">

  {{#hero-image title="Contact" image="assets/images/contact-image.jpg"}}
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <p>Email me at <a href="mailto:jordanv1@uw.edu" target="_blank">jordanv1@uw.edu</a><br>
        Connect with me on <a href="https://www.linkedin.com/in/jordanvinc" target="_blank">LinkedIn</a><br>
        Follow me on <a href="https://twitter.com/jordan_vinc" target="_blank">Twitter</a><br>
        Star me on <a href="https://github.com/JordanVincent" target="_blank">GitHub</a></p>
      </article>

    </div>
  </section>

</div>

