<div class="content-container" id="contact">

  <div class="left-column">
  </div>

  <div class="right-column">
    <article>
      <h1>Contact</h1>
      {{nav-inline}}

      <p>Email me at <a href="mailto:jordanv1@uw.edu">jordanv1@uw.edu</a><br>
      Add me on <a href="https://www.linkedin.com/in/jordanvinc">Linkedin</a><br>
      Star me on <a href="https://github.com/JordanVincent">Github</a></p>
    </article>
  </div>
</div>

