<div class="content-container" id="contact">

  <div class="centered-column">

    <div class="side-column">
      {{nav-menu}}
    </div>

    <h1>Contact</h1>

    <p>Email me at jordanv1[at]uw.edu</p>


    {{nav-inline}}

  </div>
</div>