<div id="index">

  {{#hero-image title="Hi, I'm Jordan!" image="assets/images/home-bg.jpg" large=true}}
    <img class="me" src="assets/images/me.png" alt="Jordan picture"/>
    <ul class="tagline">
      <li>UX Designer</li><br>
      <li>Software Developer</li><br>
      <li>Aspiring Entrepreneur</li>
    </ul>
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <p class="intro">I have a strong desire to solve hard but meaningful problems. I developed skills in Development and Design&mdash;not as an end&mdash;but merely as tools to help me achieve my goals. I worked at many startups companies, and started a few ones.</p>

        <p class="hidden-xs">Do you want to learn more about my design process? Take a look at the {{link-to 'Dropbox Design Excercise' 'case-study'}}.</p>
      </article>

    </div>

  </section>
</div>
