<div id="index">
  <img class="splash" src="/assets/images/splash.jpg"/>

  <div class="container">
    <div class="row">
    <div class="col-sm-offset-3 col-sm-6">I am a Designer and an Engineer living in the Bay Area. I work at Cogniac to bring computer vision to the world. </div>
    </div>
  </div>
</div>
