<div class="content-container" id="influences">

  {{nav-responsive title="Influences"}}

  <div class="left-column">
  </div>

  <div class="right-column content-column">

    <article>
      <h1>Influences</h1>
      {{nav-inline}}

      <p>Below are things that inspired me and I care about. I hope this can help you understand me better. My passions include: <a href="influences/#entrepreneurship">Entrepreneurship</a>, <a href="influences/#technology">Technology</a>, <a href="influences/#ucd">User-Centered Design</a>, <a href="influences/#sf">Science Fiction</a>, <a href="influences/#outdoors">Outdoors</a>.</p>

      <h2 id="entrepreneurship">Entrepreneurship</h2>
      <p>I want to create my own startup, it's just a matter of time! My first introduction to entrepreneurship was Guy Kawasaki and his book The Art of the Start. But when I moved to San Francisco, everything changed, I was part of a real startup. I learned a lot from the inside. Since the, I read a lot of articles. Pau Graham influenced me a lot. I loved Sam Altman's How to Start a Startup course at Stanford.</p>

      <span class="list-header">Influences</span>
      <ul class="list">
        <li><a href="http://www.amazon.com/The-Art-Start-Time-Tested-Battle-Hardened/dp/1591840562" target="_blank">The Art of the Start</a>, Guy Kawasaki</li>
        <li><a href="http://www.paulgraham.com/wealth.html" target="_blank">How to Make Wealth</a>, Paul Graham ***</li>
        <li><a href="http://www.paulgraham.com/makersschedule.html" target="_blank">Maker's Schedule, Manager's Schedule</a>, Paul Graham</li>
        <li><a href="http://startupclass.samaltman.com" target="_blank">How to Start a Startup</a>, Sam Altman ***</li>
      </ul>

      <h2 id="technology">Technology</h2>
      <p>I learned Computer Science pretty late, half way through college. I've now a lot of experience in front-end developpement. I enjoy designing interfaces, implementing them and see people using them! I've come a long way, starting with Sencha Touch and then AngularJS. But I felt in love with EmberJS. Built by the same folks who crafted Ruby On Rails, based entierly on strong conventions and separation of concerns. Lovely!</p>

      <span class="list-header">Favorite technologies</span>
      <ul class="list">
        <li><a href="http://emberjs.com/" target="_blank">EmberJS</a></li>
        <li><a href="http://rubyonrails.org/" target="_blank">Ruby On Rails</a></li>
      </ul>

      <h2 id="ucd">User-Centered Design</h2>
      <p>We create things to help us, humans. It makes me sad everytime I see someone struggling with an unusable product. Coming from an engineering background I needed some knowledge in social sciences. I've started a master in Human-Centered Design &amp; Engineering at University of Washington.</p>

      <span class="list-header">Influences</span>
      <ul class="list">
        <li><a href="https://vimeo.com/71278954" target="_blank">The Future of Programming</a>, Bret Victor ***</li>
        <li><a href="https://vimeo.com/115154289" target="_blank">The Humane Representation of Thought</a>, Bret Victor ***</li>
        <li><a href="http://www.amazon.com/The-Tipping-Point-Little-Difference/dp/0316346624" target="_blank">The Tipping Point</a>, Malcolm Gladwell</li>
        <li><a href="http://www.amazon.com/Outliers-Story-Success-Malcolm-Gladwell/dp/0316017930" target="_blank">Outliers</a>, Malcolm Gladwell</li>
        <li><a href="http://www.amazon.com/Design-Everyday-Things-Donald-Norman/dp/0465067107" target="_blank">The Design of Everyday Things</a>, Don Norman ***</li>
        <li><a href="http://www.amazon.com/Dont-Make-Think-Revisited-Usability/dp/0321965515" target="_blank">Don't Make Me Think</a>, Steve Krug</li>
      </ul>

      <h2 id="sf">Science Fiction</h2>
      <p>I was born too early, we don't have flying cars or artificial intelligence yet... Science Fiction allows me to dream and imagine myself in those hypotetical worlds. But SF is actually just a reflect of our own present human nature.</p>

      <span class="list-header">Influences</span>
      <ul class="list">
        <li><a href="http://www.amazon.com/The-Einstein-Enigma-A-Novel/dp/0061719315" target="_blank">The Einstein Enigma</a>, José Rodrigues dos Santos ***</li>
        <li><a href="http://www.physics.princeton.edu/ph115/LQ.pdf" target="_blank">The Last Question</a>, Isaac Asimov ***</li>
        <li><a href="http://www.amazon.com/Foundation-Isaac-Asimov/dp/0553293354" target="_blank">Fundation</a>, Isaac Asimov</li>
        <li><a href="http://www.amazon.com/Enders-Game-The-Ender-Quintet/dp/0812550706" target="_blank">Ender's Game</a>, Orson Scott Card</li>
      </ul>

      <h2 id="outdoors">Outdoors</h2>
      <p>Since I'm a kid I've been hiking a lot with my parents. I've hiked and backpacked many times in France (Corsica, Alps) and in the US. My first trip to the US (1 month in summer 2009) was like a dream. I've hiked in almost all the US National Parks of the West. But Yosemite, Arches, Canyonland, Zion, and Death Valley are among my all-time favorites.</p>

      <span class="list-header">Accomplishments</span>
      <ul class="list">
        <li><a href="http://en.wikipedia.org/wiki/John_Muir_Trail" target="_blank">John Muir Trail</a>, California, 320km ***</li>
        <li><a href="http://en.wikipedia.org/wiki/GR_20" target="_blank">GR20</a>, Corsica, 180km (x2)</li>
        <li><a href="http://trailsvanoise.wix.com/pralognan" target="_blank">Tour des Glaciers de la Vanoise</a>, French Alps, 73km</li>
        <li><a href="http://en.wikipedia.org/wiki/Mount_Whitney" target="_blank">Mt Whitney</a>, California, 4 421m</li>
        <li><a href="http://en.wikipedia.org/wiki/Mount_Shasta" target="_blank">Mt Shasta</a>, California, 4 322m</li>
      </ul>

      <div class="footnotes">
        <span>*** denotes something which had a significant impact on me.</span>
      </div>
    </article>

  </div>
</div>