<div class="content-container" id="inspiration">

  <div class="centered-column">

    <div class="side-column">
      {{nav-menu}}
    </div>

    <h1>Influences</h1>
    <p>Below are things that inspired me and I care about. I hope this can help you understand me better. My passions include: Entrepreneurship, Technology, User-Centered Design, Science Fiction, Outdoors</p>

    <h2>Entrepreneurship</h2>
    <p>I want to create my own startup, it's just a matter of time! My first introduction to entrepreneurship was Guy Kawasaki and his book The Art of the Start. When I moved to San Francisco, everything changed, I was part of a real startup. I learned a lot from the inside. Since the, I read a lot of articles. Pau Graham influenced me a lot. I loved Sam Altman How to Start a Startup at Stanford.</p>

    <span class="list-header">Influences</span>
    <ul class="list">
      <li>The Art of the Start, Guy Kawasaki</li>
      <li>How to Make Wealth, Paul Graham ***</li>
      <li>Maker's Schedule, Manager's Schedule, Paul Graham</li>
      <li>How to Start a Startup, Sam Altman ***</li>
    </ul>

    <h2>Technology</h2>
    <p>I learned Computer Science pretty late, half way through college. I've a lot of experience in front-end developpement. I enjoy designing interfaces, implementing them and see people using them! I've been a long way, starting with Sencha Touch and then AngularJS. But I felt in love with EmberJS. Build by the same folks who crafted Ruby On Rails, based entierly on strong conventions and separation of concerns.</p>

    <span class="list-header">Favorite Technologies</span>
    <ul class="list">
      <li>EmberJS</li>
      <li>Ruby On Rails</li>
    </ul>

    <h2>User-Centered Design</h2>
    <p>I recently found that I love reading. I like Science Fiction and reflect about the Human nature. I also read a lot about sociology a lot.</p>

    <span class="list-header">Influences</span>
    <ul class="list">
      <li>The Future of Programming, Bret Victor ***</li>
      <li>The Humane Representation of Thought, Bret Victor ***</li>
      <li>The Tipping Point, Malcolm Gladwell</li>
      <li>Outliers, Malcolm Gladwell</li>
      <li>The Design of Everyday Things, Don Norman ***</li>
      <li>Don't Make Me Think, Steve Krug</li>
    </ul>

    <h2>Science Fiction</h2>
    <p>I recently found that I love reading. I like Science Fiction and reflect about the Human nature.</p>

    <span class="list-header">Influences</span>
    <ul class="list">
      <li>The Einstein Enigma, José Rodrigues dos Santos ***</li>
      <li>The Last Question, Isaac Asimov ***</li>
      <li>Fundation, Isaac Asimov</li>
      <li>Ender's Game, Orson Scott Card</li>
    </ul>

    <h2>Outdoors</h2>
    <p>Since I'm a kid I've been hiking a lot with my parents. I've hiked and backpacked many times in France (Corsica, Alps) and in the US. My first trip to the US (1 month in summer 2009) was like a dream. I've hiked in almost all the US National Parks of the West. But Yosemite, Arches, Canyonland, Zion, and Death Valley are among my all-time favorites.</p>

    <span class="list-header">Accomplishments</span>
    <ul class="list">
      <li>John Muir Trail, California, 320km ***</li>
      <li>GR20, Corsica, 180km (x2)</li>
      <li>Tour de la Grande Casse, French Alps, 63km</li>
      <li>Mt Whitney, California, 4 421m</li>
      <li>Mt Shasta, California, 4 322m</li>
    </ul>

    <div class="footnotes">
      <span>*** denotes something which had a significant impact on me.</span>
    </div>

    {{nav-inline}}

  </div>
</div>