<div class="content-container" id="inspiration">

  <div class="centered-column">

    <div class="side-column">
      {{nav-menu}}
    </div>

    <h1>Inspiration</h1>

    <p>Here is a non exhaustive list of projects I created and contributed.</p>


    {{nav-inline}}

  </div>
</div>