<div id="influences">

  {{#hero-image title="Not Found" image="assets/images/influences-image.jpg"}}
  {{/hero-image}}

  <section class="main-section">
    <div class="container">

      <article>
        <p>Oops, article not found! Back {{link-to 'home' 'index'}}.</p>
      </article>

    </div>
  </section>
</div>