<div id="nps-nights">
  <section class="poster-header">
    <div class="poster-header-inner">
      <div class="poster-header-title">A night under the stars</div>
      <div class="poster-header-subtitle">A look at overnight stays at US National Parks</div>

      <div class="poster-header-columns">
        <p class="poster-header-lead">When should you pitch your tent? Or when is it better to opt for lodging? When should you visit to avoid the crowds? Let’s have a look!</p>

        <div class="poster-header-column-title">How to read</div>
        <p>We ploted the number of nights spent per month in each park. We separated four categories of accomodation: <span class="label-lodging">lodging</span>, <span class="label-rv">RV</span>, <span class="label-tent">tent</span>, and <span class="label-backcountry">backcountry</span>. Each accomodation type comes  with their own properties which determine their popularity over time.</p>

        {{nps-nights/legend}}

        <p>A word of caution, parks don’t have the same infrastructure. Some parks, such as, Denali National Park, don't have any lodging; and we know all too well that campsites are in limited supply in all National Parks.</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="poster-legend">
      <!-- <img src="img/legend.png"/> -->
    </div>
  </section>

  <section class="poster-body">
    {{#each model as |group|}}
      <div class="park-group">
        <div class="park-group-header">
          <div class="park-group-title">{{group.title}}<span class="arrow"></span></div>
          <div class="park-group-description">{{group.description}}</div>
        </div>
        <div class="park-group-body">
          {{#each group.parks as |park|}}<!--
          -->{{component park.componentName class="chart-wrapper"}}<!--
       -->{{/each}}
        </div>
      </div>
    {{/each}}
  </section>

  <section class="poster-footer">
    <div class="poster-footer-inner">
      <p>Overnight stays data is made available to the public by the US National Park Service. We used average monthly stays for the 2013–2017 period.</p>
      <p>Parks with missing data were removed: American Samoa, Wrangell-St. Elias, Gateway Arch, Pinnacles, Carlsbad Caverns, Petrified Forest, and Congaree. Concession and park-owned camping were merged. Concession camping doesn't provide breakdown by type (RV or tent) and we assumed that it followed the same proportion reported by the park. The proportion defaults to 50% when no reference data is present.</p>
      <p>Climate data comes from the National Center for Environmental Information (NOAA). We used temperature normals for the 1981–2010 period from the nearest weather station for each national park.</p>
      <p class="align-right">{{#link-to 'application'}}Jordan Vincent{{/link-to}}, August 2018</p>
    </div>
  </section>

</div>
