<div class="content-container" id="projects-index">

  <div class="centered-column">

    <div class="side-column">
      {{project-item project=this}}
      {{nav-menu}}
    </div>

    <h1>{{name}}</h1>

    <p>Here is a non exhaustive list of projects I created and contributed.</p>

    {{nav-inline}}

  </div>
</div>