<div class="content-container" id="project">

  <div class="left-column">
  </div>

  <div class="right-column">

    <article>
      <h1>{{name}}</h1>
      {{nav-inline}}

      {{{description}}}

    </article>

    {{#if relatedProjects}}
      <div class="related-projects">
        <h2>Related projects</h2>
        <div class="raw clearfix">
          {{#each project in relatedProjects}}
            <div class="col-xs-4">
              {{project-item project=project}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

  </div>
</div>